@{
    ViewBag.Title = "Términos y condiciones";
}
@section styles
{
    <style type="text/css">
        .min_full {
            padding: 0 70px;
        }
    </style>
}

<h2>Términos y condiciones</h2>

<p class=MsoTitle align=center style='text-align:center'>
    <a name="_grm2yjrn331b"></a><span lang=EN>
        Términos y Condiciones del Programa de Embajadores Atómicos del
        Proyecto Limbs de Atomic Lab
    </span>
</p>

<p class=MsoNormal><span lang=EN><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal>
    <span lang=EN>
        Para la participación de proyecto y tener
        relación formal
    </span>
</p>

<p class=MsoNormal><span lang=EN><o:p>&nbsp;</o:p></span></p>

<ol style='margin-top:0in' start=1 type=1>
    <li class=MsoNormalCxSpMiddle style='mso-list:l0 level1 lfo1'>
        <span lang=EN>
            Definición
            de las partes
        </span>
    </li>
    <ol style='margin-top:0in' start=1 type=a>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Atomic
                Lab: Es una organización privada social con y sin de lucro establecida en
                2014 por Gino Tubaro en la Ciudad de Buenos Aires que trabaja en equipo
                para crear soluciones que cambien la vida de millones de personas en el
                mundo mediante las últimas tecnologías.
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Embajador:
                Es una persona física de cualquier país del mundo con capacidad legal de
                asumir las responsabilidades establecidas en el presente documento para
                coordinar, imprimir y realizar las acciones necesarias de manera
                voluntaria para la entrega de una mano mecánica con el diseño de Atomic
                Lab a una persona que lo haya solicitado por la web de la misma.
            </span>
        </li>
    </ol>
    <li class=MsoNormalCxSpMiddle style='mso-list:l0 level1 lfo1'>
        <span lang=EN>
            Objetivo:
            El programa de Embajadores Atómicos de Atomic Lab tiene como objetivo
            generar una red de voluntarios en todo el mundo que colaboren con la causa
            poniendo a disposición tiempo de impresión, materiales y mano de obra para
            realizar entregas de manos mecánicas de manera gratuita a las personas que
            se encuentran en lista de espera. Este programa es financiado por
            organizaciones y particulares que realizan donaciones en los medios
            disponibles de Atomic Lab.
        </span>
    </li>
    <li class=MsoNormalCxSpMiddle style='mso-list:l0 level1 lfo1'>
        <span lang=EN>
            Sitios
            involucrados, dominios y medios de comunicación fehacientes
        </span>
    </li>
    <ol style='margin-top:0in' start=1 type=a>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Únicos
                sitios web y dominios de email oficiales: atomiclab.org y limbs.earth
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Únicas
                redes sociales oficiales:
            </span>
        </li>
        <ol style='margin-top:0in' start=1 type=i>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>twitter.com/TheAtomicLab</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/TheAtomicLab</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>instagram.com/TheAtomicLab</span></li>
        </ol>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Únicos
                grupos de Facebook oficiales:
            </span>
        </li>
        <ol style='margin-top:0in' start=1 type=i>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabAlemania</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabArgentina</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabAustralia/</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabBolivia</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabBrasil</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabChile</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabColombia</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabCostaRica</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabEcuador</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabEspana</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabEstadosUnidos</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabGrecia/</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabGuatemala</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabHonduras</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabJapon</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabMexico</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabNoruega</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabNuevaZelanda/</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabPanama/</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabParaguay</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabPeru</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabPolonia</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabPortugal</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabReinoUnido</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabRepublicaDominicana</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabTurquia/</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabUruguay</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicLabVenezuela</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/ClubDeLosEmbajadoresAtomicos/</span></li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'><span lang=EN>facebook.com/groups/AtomicsAmbassadorsClub/</span></li>
        </ol>
    </ol>
    <li class=MsoNormalCxSpMiddle style='mso-list:l0 level1 lfo1'>
        <span lang=EN>
            Requisitos
            de participación
        </span>
    </li>
    <ol style='margin-top:0in' start=1 type=a>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Ser
                mayor de 18 años, emancipado o tener autorización expresa por ambos
                padres o tutor legal.
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Ser
                propietario de una Impresora 3D, poder disponer del uso de la misma y
                poder demostrarlo
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Tener
                conocimientos técnicos demostrables para manipular la Impresora 3D
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Demostrar
                buen trato con la gente, predisposición y actitud proactiva
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Declarar
                que no se poseen Antecedentes penales (eventualmente se puede solicitar
                un documento oficial que acredite tal declaración)
            </span>
        </li>
    </ol>
    <li class=MsoNormalCxSpMiddle style='mso-list:l0 level1 lfo1'>
        <span lang=EN>
            Responsabilidades
            y Obligaciones de participación
        </span>
    </li>
    <ol style='margin-top:0in' start=1 type=a>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Comportarse
                de buena fe, éticamente y de manera respetuosa.
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Cumplir
                en tiempo y forma solicitados la resolución y atención del caso de un
                usuario
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Al
                ser asignado un caso y aceptarlo, poner a disposición el tiempo, fuerza
                de trabajo, impresora 3D y todo lo que sea necesario para hacer la
                entrega de la mano o brazo mecánico.
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Seguimiento
                de casos y mantener comunicación fluida y permanente de cualquier novedad
                al respecto a Atomic Lab.
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Mantener
                comunicación fluida y permanente con Atomic Lab cuando se tenga un caso
                asignado y aceptado por alguno de los medios fehacientes establecidos.
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Informar
                toda situación o información a Atomic Lab a lo referente de un caso
                asignado y aceptado.
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                En
                caso de recibir solicitudes de Prensa o cualquier tipo de medio de
                comunicación relacionadas al Embajador y/o Atomic Lab, debe procederse de
                la manera informada en el anexo “Prensa”
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Nunca
                se podrá recibir dinero de parte del usuario, amigos, familiares y/o la
                persona que haya hecho las gestiones ni insinuar que se las debe pagar o
                intercambiar por bienes o servicios.
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Ante
                la consulta o solicitud de información de terceros acerca del trabajo
                realizado, realizándose o que se realizará, deben darse a conocer con
                precisión qué es Atomic Lab y todo lo referente al proyecto, dar a
                conocer los únicos medios oficiales de comunicación con el proyecto, el
                único sitio de solicitudes para manos, brazos, recaudación de fondos,
                postulación de voluntarios, Embajadores y otros y cuál es el rol del
                Embajador y el aporte que realiza. La información oficial se encuentra en
                www.AtomicLab.org/faq
            </span>
        </li>
    </ol>
    <li class=MsoNormalCxSpMiddle style='mso-list:l0 level1 lfo1'>
        <span lang=EN>
            Plazo
            de la relación y renovación: La duración es de 1 año y se renueva
            automáticamente siempre y cuando no se haya incumplido alguna de las
            normas del programa.
        </span>
    </li>
    <li class=MsoNormalCxSpMiddle style='mso-list:l0 level1 lfo1'>
        <span lang=EN>
            Cancelación
            o exclusión del programa
        </span>
    </li>
    <ol style='margin-top:0in' start=1 type=a>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Incumplimiento
                de las Responsabilidades y Obligaciones
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Dejar
                de cumplir Requisitos
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Mal
                comportamiento considerado fuera de la ética y las buenas costumbres
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Comportamiento
                considerado inapropiado por Atomic Lab hacia los usuarios, sus familias,
                amigos y/o terceros que se vinculen con el Embajador por cualquier medio.
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Generar
                confusión a terceros respecto a lo que es el proyecto, el rol que cumple
                el Embajador en Atomic Lab y los medios y formas de comunicación y
                convocatoria de cualquier tipo que el mismo establece.
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Hacer
                uso inadecuado según Atomic Lab de todo material, información, contacto o
                cualquier acción de toda índole.
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Atribuirse
                más funciones que las que establece Atomic Lab en el presente documento.
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Haber
                recibido directa o indirectamente dinero, bienes o servicios a cambio de
                una mano mecánica 3D.
            </span>
        </li>
    </ol>
    <li class=MsoNormalCxSpMiddle style='mso-list:l0 level1 lfo1'>
        <span lang=EN>
            Procedimientos
            de inscripción, asignación, resolución y seguimiento de casos
        </span>
    </li>
    <ol style='margin-top:0in' start=1 type=a>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <b style='mso-bidi-font-weight:normal'><span lang=EN>Inscripción</span></b><span lang=EN>: Mediante el formulario ubicado en www.AtomicLab.org</span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <b style='mso-bidi-font-weight:normal'><span lang=EN>Ingreso al grupo</span></b><span lang=EN>
                : Solicitar el ingreso al grupo correspondiente de tu país. (Ver
                3.C)
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <b style='mso-bidi-font-weight:normal'>
                <span lang=EN>
                    Asignación, resolución,
                    seguimiento y normas
                </span>
            </b><span lang=EN>
                : según acuerda el Manual
                del Embajador Atómico ubicado en <a href="http://www.atomiclab.org/limbs/ambassador/manual">
                    <span style='color:#1155CC'>www.atomiclab.org/limbs/ambassador/manual</span>
                </a>.<b style='mso-bidi-font-weight:normal'><o:p></o:p></b>
            </span>
        </li>
    </ol>
    <li class=MsoNormalCxSpMiddle style='mso-list:l0 level1 lfo1'>
        <span lang=EN>
            Procedimiento
            de solicitud de fondos para materiales
        </span>
    </li>
    <ol style='margin-top:0in' start=1 type=a>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Enviar
                un correo a <a href="mailto:ambassadors@atomiclab.org">
                    <span style='color:#1155CC'>ambassadors@atomiclab.org</span>
                </a> con el asunto
                “Solicitud de fondos para materiales”
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                La
                persona del equipo de Atomic Lab que administra los fondos, tomará
                contacto para solicitar información y realizar la transferencia
                correspondiente según los medios disponibles al momento.
            </span>
        </li>
    </ol>
    <li class=MsoNormalCxSpMiddle style='mso-list:l0 level1 lfo1'>
        <span lang=EN>
            Prensa
            y Comunicación
        </span>
    </li>
    <ol style='margin-top:0in' start=1 type=a>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Nombrarse
                a sí mismo como
            </span>
        </li>
        <ol style='margin-top:0in' start=1 type=i>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'>
                <span lang=EN>
                    Embajador
                    Atómico de Atomic Lab
                </span>
            </li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'>
                <span lang=EN>
                    Embajador
                    de Atomic Lab.
                </span>
            </li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'>
                <span lang=EN>
                    Participante
                    del programa de embajadores de Atomic Lab.
                </span>
            </li>
        </ol>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                No
                nombrarse a sí mismo como
            </span>
        </li>
        <ol style='margin-top:0in' start=1 type=i>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'>
                <span lang=EN>
                    Parte
                    de la organización o del equipo de Atomic Lab.
                </span>
            </li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'>
                <span lang=EN>
                    Creador
                    o inventor del proyecto Limbs de Atomic Lab (o similares).
                </span>
            </li>
            <li class=MsoNormalCxSpMiddle style='mso-list:l0 level3 lfo1'>
                <span lang=EN>
                    Creador
                    o diseñador de las manos/brazos mecánicos de Atomic Lab.
                </span>
            </li>
        </ol>
        <li class=MsoNormalCxSpMiddle style='mso-list:l0 level2 lfo1'>
            <span lang=EN>
                Entregar
                el pack de prensa ubicado en <a href="http://www.atomiclab.org/prensa">
                    <span style='color:#1155CC'>www.AtomicLab.org/prensa</span>
                </a>
            </span>
        </li>
    </ol>
    <li class=MsoNormalCxSpMiddle style='mso-list:l0 level1 lfo1'>
        <span lang=EN>
            Ley
            Aplicable y Jurisdicción: Para todos los efectos legales derivados de la
            ejecución de los presentes términos y condiciones, las partes fijan como
            domicilios especiales: a) Atomic Lab en Av Chiclana 3269 Piso 1, Ciudad
            Autónoma de Buenos Aires y legales@atomiclab.org; b) el Embajador según lo
            declarado en el formulario de solicitud de incorporación al programa para
            su dirección postal y electrónica. En dichos lugares tendrán plena validez
            y eficacia las notificaciones judiciales y/o extrajudiciales que pudieran
            cursarse, mientras no se notifique fehacientemente cualquier cambio de los
            mismos. Para dirimir eventuales diferencias y conflictos surgidos de esta
            relación contractual, las partes acuerdan la exclusiva competencia de los
            Tribunales Ordinarios de la Ciudad Autónoma de Buenos Aires, República
            Argentina, renunciando expresamente a todo otro Fuero o jurisdicción.
        </span>
    </li>
</ol>
