@using Limbs.Web.Common.Extensions
@model Limbs.Web.Models.OrderModel

@if (User.IsInRole(AppRoles.Administrator))
{
    <table class="tabla_datos">
        <tr>
            <td>Log:</td>
            <td>
                <ul class="log">
                    @foreach (var item in Model.Log)
                    {
                        <li>
                            <span>@item.Date.ToFriendlyDateString()</span> -
                            <span>@item.User</span> -
                            <span>@item.Message</span>
                        </li>
                    }
                </ul>
            </td>
        </tr>
    </table>
}