@using Limbs.Web.Common.Extensions
@using Limbs.Web.ViewModels
@using Limbs.Web.Entities.Models;

@model OrderDetailsViewModel

<h1>Pedido:</h1>
<div id="estado_pedido">
    <p>Estado:</p>
    @if (TempData["Generating"] == null)
    {
        string statusDescription = string.Empty;

        <h2>
            @if (Model.Status == OrderStatus.Rejected && User.IsInRole(AppRoles.Requester))
            {
                statusDescription = OrderStatus.NotAssigned.ToDescription();
            }
            else
            {
                statusDescription = @Model.Status.ToDescription();
            }
            @statusDescription
            @if (Model.Status == OrderStatus.Pending)
            {
                <text>(</text>
                @(Model.PercentagePrinted)<text>%)</text>
            }
        </h2>
    }
    else
    {
        <h2>Generando archivos</h2>
        <p style="color: red; font-size: 11px;">Aguarde, esta operación puede durar hasta 2 minutos.</p>
        <p style="color: red; font-size: 11px;">No refresque la página.</p>
    }
</div>