@model Limbs.Web.Entities.Models.OrderModel

<h3>Mensajes</h3>
<div id="inbox"></div>

<script type="text/javascript">
    $(document).ready(getInbox);

    function getInbox() {
        var $dummy = $("<div>");
        $dummy.load("@Url.Action("InboxPartial", "Messages", new { orderId = Model.Id })", function(response, status, xhr) {
            var $container = $("#inbox");
            if (status !== "success") {
                $container.html("<p>Error al cargar los mensajes.</p><p>Para ver los mensajes, vaya a su <a href='/Messages/'>bandeja de entrada</a></p>");
            }
            else
            {
                $container.html($dummy.html());
            }
            $dummy.remove();
            setTimeout(getInbox, 5000);
        });
    }
</script>