@{
    ViewBag.Title = "faq";
}

@section scripts {
    <script>
        $.each($("#preguntas > div"), function (k, o) {
            $o = $(o);
            $o.addClass("faq_q");
            $o.find("h2").attr({ tabindex: 0, onclick: "faq_show(event)", onkeydown: "faq_show(event)" });
            $o.find("a").attr("target", "_blank");
        });
        function faq_show(e) {
            if (event.keyCode != 13 && event.keyCode != undefined) { return false; }
            let p = e.currentTarget;
            let obj = $(p).closest(".faq_q");
            $(obj).toggleClass("faq_max");
        }
    </script>
}
@section styles {
    <style>
        .ini_faq {
            margin-bottom: 10px;
            padding: 0px 5px;
        }
        .ini_faq h1 {
            color: #615e5e;
            font-weight: 300;
        }
        .min_full {
            background-color: #ffffff;
        }
        .faq_max h2 {
            margin-bottom: 10px;
        }
        .faq_max h3 {
            margin-top: 14px;
            margin-bottom: 3px;
        }
        .faq_max a {
            text-decoration: underline;
            color: #4772b2;
        }
        .faq_max ul li {
            margin-bottom: 5px;
            margin-left: 19px;
        }
        .faq_max p {
            margin-bottom: 5px;
        }
        .faq_q:not(.faq_max) > *:not(h2) {
            display: none;
        }
        .faq_q h2 {
            color: #4772b2;
            font-size: 20px;
            font-weight: 400;
            cursor: pointer;
            padding: 7px 0px;
        }
        .faq_q {
            padding: 12px 20px;
            border-bottom: solid 1px #e2e2e2;
        }
        .faq_q:not(.faq_max) {
        }
    </style>
}

<div class="ini_faq">
    <h1>Preguntas frecuentes</h1>
    <h3>Somos una organización no gubernamental sin fines de lucro, que tiene como objetivo crear soluciones que cambien la vida de millones de personas en el mundo mediante las últimas tecnologías.</h3>
</div>
<div id="preguntas">
    <div>
        <h2>¿Cómo hago para solicitar una prótesis mecánica 3D?</h2>
        <p>Podés hacerlo gratuitamente desde <a href="http://www.AtomicLab.org">www.AtomicLab.org</a>, tené en cuenta que hay muchísimas personas esperando para recibir su mano/brazo y todo es a base de voluntariado. Nunca nadie te pedirá dinero, es totalmente gratis. (Si alguien lo hace a nuestro nombre, no aceptes darle dinero y contáctanos a info@atomiclab.org)</p>
    </div>
    <div>
        <h2>¿Puedo comprar una prótesis mecánica 3D?</h2>
        <p>No, queremos evitar que las personas que tengan dinero puedan acceder y las que no tengan no puedan. Pero si querés podés donar desde <a href="http://www.AtomicLab.org/donar">www.AtomicLab.org/donar</a> para ayudarnos a seguir haciendo manos y brazos de manera gratuita.</p>
    </div>
    <div>
        <h2>¿Cual es el tiempo desde que se hace un pedido a recibir la prótesis mecánica 3D?</h2>
        <p>El tiempo es indefinido, ya que hay miles de pedidos y nuestro trabajo es voluntario. Algunas las imprimimos nosotros y otras las imprimen nuestros embajadores.</p>
    </div>
    <div>
        <h2>¿Cómo hago para donar?</h2>
        <p>Tenés varias formas para donar a Atomic Lab y ayudarnos a seguir creciendo, por Mercadopago, por Paypal o por bitcoin, solo debés entrar a <a href="http://www.AtomicLab.org/donar">www.AtomicLab.org/donar</a>.</p>
        <p><i>*La donación no es la compra de una prótesis 3D, al donar no se puede elegir el beneficiario de la misma.</i></p>
    </div>
    <div>
        <h2>¿Para qué se utilizan las donaciones?</h2>
        <ul>
            <li>Material plástico (PLA) para las impresoras 3D.</li>
            <li>Herramientas para el armado de las manos y brazos mecánicos 3D.</li>
            <li>Velcro, tornillos, pegamento y otros.</li>
            <li>Mejorar diseños y técnicas de las manos y brazos mecánicos 3D.</li>
            <li>Comprar material para los Embajadores Atómicos de todo el mundo.</li>
            <li>Insumos y materiales para los Manotones.</li>
            <li>Ayudar a Atomic Lab a seguir creciendo, investigando y encontrando nuevas soluciones que le cambien la vida a millones de personas.</li>
        </ul>
    </div>
    <div>
        <h2>¿Puedo ser parte de Atomic Lab? - ¿Puedo voluntariar? ¿Qué hace un voluntario?</h2>
        <p>¡Nos encantaría que formes parte del equipo! Tengas o no impresora 3D, ingresá a <a href="http://www.AtomicLab.org/SerParte">www.AtomicLab.org/SerParte</a> para ver los puestos disponibles.</p>
    </div>
    <div>
        <h2>¿Puedo ayudar con mi impresora 3D? - ¿De qué se trata el programa de embajadores atómicos? - ¿Qué impresora necesito para ser un embajador?</h2>
        <p>Todo eso y mucho más <a href="https://www.facebook.com/notes/atomic-lab/programa-de-embajadores-at%C3%B3micos-del-proyecto-limbs/1203805346419435/">aquí</a>.</p>
    </div>
    <div>
        <h2>¿Qué es un #manotón? ¿Cómo hago para ir? ¿Cómo puedo organizar uno en mi ciudad?</h2>
        <p>Ingresá en www.AtomicLab.org/Manoton para enterarte todo sobre los manotones atómicos.</p>
    </div>
    <div>
        <h2>¿Puedo bajarme los diseños?</h2>
        <p>Si, son libres y los encontrás en <a href="http://www.AtomicLab.org/limbs/libre">www.AtomicLab.org/limbs/libre</a>.</p>
    </div>
    <div>
        <h2>¿Hacen impresiones 3D para animales?</h2>
        <p>Todavía no, pero es un proyecto que tenemos, estamos en la etapa de diseño. Si conocés algún caso, por favor completá el siguiente formulario: <a href="https://goo.gl/forms/Cinn3IvLKjeogozJ3">https://goo.gl/forms/Cinn3IvLKjeogozJ3</a>.</p>
    </div>
    <div>
        <h2>¿Atomic Lab solo hace manos mecánicas 3D?</h2>
        <p>No, además de manos y brazos mecánicos 3D, tenemos muchos proyectos:</p>
        <ul>
            <li>#Limbs es el proyecto de Atomic Lab que tiene por objetivo convertir a todos los chicos en superhéroes, imprimiendo y entregando de forma gratuita, manos y brazos impresos en 3D a todo aquel que las necesite.</li>
            <li>#Unblinder Aplicación especialmente desarrollada para no videntes, solamente sacando una foto te avisará mediante voz qué es lo que estás viendo, podrás diferenciar desde una manzana verde contra una roja, como así también si un frasco dice “Shampoo” o “Acondicionador”. Si estás interesado en más información, registrate a nuestro newsletter en <a href="http://www.AtomicLab.org/newsletter">www.AtomicLab.org/newsletter</a>.</li>
            <li>#BraileDinámico Un dedal que permite traducir un texto plano (ej: desde un libro) a braille. Si estás interesado en más información, registrate a nuestro newsletter en <a href="http://www.AtomicLab.org/newsletter">www.AtomicLab.org/newsletter</a>.</li>
            <li>#LowCost3Dprinter Una impresora 3D de bajo costo, para que todos puedan tener acceso a esta tecnología. Si estás interesado en más información, registrate a nuestro newsletter en <a href="http://www.AtomicLab.org/newsletter">www.AtomicLab.org/newsletter</a>.</li>
        </ul>
    </div>
    <div>
        <h2>¿Dónde tienen las oficinas? ¿Puedo ir a visitarlos personalmente?</h2>
        <p>Parque Patricios, Capital Federal, Argentina. Por el momento las visitas al taller no están abiertas, pero dejanos tu correo en www.AtomicLab.org/newsletter que avisaremos por ahí cuando las abramos nuevamente.</p>
    </div>
    <div>
        <h2>¿Puedo pedirles una entrevista? ¿Tienen un pack de prensa?</h2>
        <p>Podés pedir una entrevista desde <a href="https://goo.gl/forms/AXWHODoqIUek5CYG2">https://goo.gl/forms/AXWHODoqIUek5CYG2</a>, en el caso que necesites un pack de prensa podés acceder desde www.AtomicLab.org/prensa.</p>
    </div>
    <div>
        <h2>¿Con qué material están impresas las manos mecánicas 3D?</h2>
        <p>Las manos mecánicas están impresas con PLA, un derivado del maíz que no generará picazón.</p>
    </div>
    <div>
        <h2>¿Puedo ayudarlos si vendo impresoras 3D o insumos?</h2>
        <p>Podés ayudarnos ofreciendo descuento a la comunidad atómica (embajadores actuales o potenciales). Solamente debés completar este formulario: <a href="https://goo.gl/forms/8NDm12IW7S0wq2DD3">https://goo.gl/forms/8NDm12IW7S0wq2DD3</a></p>
    </div>
    <div>
        <h2>¿Qué tipo de impresiones 3D hacen?</h2>
        <h3>¿Tienen diseños para personas que no tengan codo?</h3>
        <p>Por el momento no, tenemos dos diseños (Mano y Brazo). En el diseño de mano mecánica 3D la persona necesita tener la muñeca, y en el diseño de brazo mecánico 3D la persona necesita tener el codo. De todas formas seguimos desarrollando para ampliar nuestros diseños, podés suscribirte a nuestro newsletter desde www.AtomicLab.org/newsletter, ahí informaremos las novedades relacionadas a los diseños.</p>
        <h3>¿Hacen dedos impresos en 3D?</h3>
        <p>Por el momento no, ¡pero queremos sacar algo en breve! seguinos en redes que te informaremos de las novedades o suscribite a nuestro newsletter en <a href="http://www.AtomicLab.org/newsletter">www.AtomicLab.org/newsletter</a></p>
        <h3>¿Hacen impresiones en 3D de miembros inferiores (piernas, pies)?</h3>
        <p>Por el momento los diseños que hemos realizado no soportan el peso de una persona promedio, si tenés información sobre el tema podés enviarnos un correo a info@atomiclab.org. Seguinos en redes que te informaremos de las novedades o suscribite a nuestro newsletter en www.AtomicLab.org/newsletter </p>
        <h3>¿Tienen diseños para personas que tengan sus miembros pero no tengan movilidad en ellos?</h3>
        <p>Por el momento no hemos finalizado totalmente diseños de ese estilo. Te informaremos cuando tengamos algo más concreto, solamente debés suscribirte a nuestro newsletter en <a href="http://www.AtomicLab.org/newsletter">www.AtomicLab.org/newsletter</a>.</p>
    </div>
    <div>
        <h2>¿Desde qué edad se pueden usar las manos mecánicas?</h2>
        <p>Nuestra experiencia de más de 3 años en el diseño, impresión y pruebas de manos mecánicas impresas en 3D nos dejan en claro que las mismas no se recomiendan bajo ningún concepto para que sean utilizadas por menores de 5 años. Por diferentes motivos, las personas no tienen el desarrollo mínimo para usar y ser conscientes de la prótesis, la misma requiere de un aprendizaje que no es posible lograr a esa edad. Es por esto que, al momento, solo entregamos las mismas a personas mayores de 5 años. De todas formas pueden completar el formulario para pedir una prótesis 3D en www.AtomicLab.org, el pedido quedará detenido hasta que se cumplan los 5 años, al cumplir dicha edad quedará en lista de espera para recibir la prótesis. Esperamos que sepan entender, lo hacemos con el único objetivo de cuidar a los niños.</p>
    </div>
    <div>
        <h2>¿Solamente hacen manos y brazos mécanicos 3D para chicos?</h2>
        <p>No, ¡también hacemos para adultos! pero en nuestra experiencia los chicos son los que más las disfrutan. De todas maneras, cualquier persona puede solicitarlos gratuitamente desde www.AtomicLab.org.</p>
    </div>
    <div>
        <h2>¿Cuál es el costo de hacer una prótesis de mano o brazo con impresión 3D?</h2>
        <p>Más allá de que no las vendamos, te contamos que el costo de fabricación es aproximadamente (ya que depende del tamaño de la persona) el siguiente:</p>
        <ul>
            <li>Mano: costo de fabricación 250 AR$ - 15 US$ (250grms de material, 13 hs tiempo de impresión)</li>
            <li>Brazo: costo de fabricación 400$ - 25 US$ (350grms de material, 18hs tiempo de impresión)</li>
        </ul>
    </div>
</div>