@{
    ViewBag.Title = "Manual Embajadores";
}
@section styles {
    <link rel="stylesheet" href="~/Content/manualembajador.css">
}
<article class="inicio">
    <div>
        <h1>¡Hola #EmbajadorAtómico!</h1>
        <p class="intro_bajada">En el siguiente manual te vamos a guiar para saber cómo trabajar luego de haber tomado un caso para imprimir.</p>
    </div>
    <div class="antes_com card">
        <p>Antes de comenzar</p>
        <ul>
            <li>Por favor, leer todo el manual antes de hacer nada.</li>
            <li>Todos somos voluntarios, vos, yo, nosotros y todo Atomic Lab. Este trabajo todos lo hacemos sin fines de lucro y en nuestros tiempos libres, te pedimos que tengas paciencia si alguna consulta se demora más de lo deseado.</li>
            <li>Tomar un caso es asumir una responsabilidad, ante la familia y ante Atomic Lab.</li>
            <li>En el caso de que el embajador no pueda costear el precio de los materiales para imprimir la mano, debe contactarse con la persona que ha publicado el caso en el grupo de Facebook por privado para hacérselo saber, de lo contrario se asume que el embajador cubrirá los gastos de material.</li>
            <li>Si vivís en Argentina podés tomar casos de cualquier lugar del país, vivas dónde vivas, enviando la prótesis de manera gratuita. Leer el apartado que se encuentra al final de este documento titulado “Envíos en Argentina".</li>
        </ul>
    </div>
    <div class="empecemos">
        <button class="bn_blue">¡Empecemos!</button>
    </div>
</article>
<div class="capitulos cont-wr">
    <article>
        <h2><span>1:</span>Toma del caso</h2>
        <ul>
            <li>Una vez que se publica el caso el embajador que pueda hacerse cargo debe comentar la publicación para que todos sepan que ya está en proceso y que es su responsabilidad.</li>
            <li>El embajador debe contactarse con la familia para hacerle saber que se está trabajando en su pedido, vía email poniendo en copia a ambassadors@atomiclab.org, en un máximo de 24 hrs desde se le asignó el caso.</li>
            <li>En la medida de lo posible, consultar qué colores prefiere el destinatario, dentro de los que tiene disponible el embajador.</li>
            <li>Una vez que la familia responde el correo, se dispondrá de 2 semanas para la impresión del caso y entrega del mismo. </li>
            <li>Todo el contacto con la familia debe ser siempre vía mail, poniendo en copia a ambassadors@atomiclab.org.</li>
            <li>Nos encantaría que hagas un video de este estilo: https://www.facebook.com/theatomiclab/videos/1115291415270829/ (¡o mucho mejor!) la idea es poder mostrarle a todo el mundo tu trabajo.</li>
        </ul>
    </article>
    <article>
        <h2><span>2:</span>Impresión de la mano/brazo</h2>
    </article>
</div>