@using Microsoft.AspNet.Identity
@model Limbs.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<article id="info_pedido">
    <div class="head_info">
        <h1>Mis datos:</h1>
        <div id="estado_pedido">
            <p>Email:</p>
            <h2>@User.Identity.GetUserName()</h2>
        </div>
    </div>
    <div>
        <p class="text-success">@ViewBag.StatusMessage</p>
    </div>
    <div>
        @Html.Partial("Details/_Actions", Model)
    </div>
    <div class="flex_info">
        <div class="card card-l">
            @Html.Partial("Details/_UserInfo", Model.User)
        </div>
    </div>
</article>