@model Limbs.Web.Entities.Models.OrderModel

@{
    ViewBag.Title = "Pedido";
}

@section scripts
{
    <script src="~/Scripts/pages/orders.js"></script>
    <script src="~/Scripts/pages/uploadImage.js"></script>
    <script src="~/Scripts/dropzone.js"></script>
    <link rel="stylesheet" href="~/Content/basic.css">
    <link rel="stylesheet" href="~/Content/dropzone.css">
}


<div class="min_full" id="cuerpo_pedir">
    <article id="exp_inicial" class="brazo">
        <h1>Nuevo pedido:</h1>
        
        <p id="bajada_exp">Deberás cargar una foto de tu brazo sobre una hoja cuadriculada para que podamos tomar referencias de las medidas, por favor, respetar los requisitos a continuación <b>de lo contrario, la mano no podrá ser otorgada.</b></p>
        <div id="recomendaciones_foto">
            <div class="card center-card-m">
                <p>Requisitos de la foto</p>
                <ul>
                    <li>Hoja cuadriculada de fondo</li>
                    <li>Buena luz</li>
                    <li>Foto sacada desde arriba</li>
                    <li>De ser posible, colocar una regla</li>
                </ul>
            </div>
        </div>
        <div id="ej_si" class="ej_exp card">
            <p class="azulAtomicTx">SI</p>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div id="ej_no" class="ej_exp card">
            <p>NO</p>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div>
            @using (Html.BeginForm("UploadImageUser", "Orders", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone", @id = "formManoMedidas" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(x => x.AmputationType)
                @Html.HiddenFor(x => x.ProductType)
            }
            <button id="enviar" name="enviar" class="bn_blue">Continuar</button>
       </div>
    </article>
</div>
