@{
    string imageUrl = ViewBag.ImageUrl;
}

@section scripts
{
    <script src="/Scripts/pages/tracking-min.js"></script>
    <script src="/Scripts/pages/munonizer.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/Content/ManoMedidas.css">

    <script>

        var image = document.getElementById('image'); 
        var canvas = document.getElementById('cphoto');

        Munonizer(tracking, image, canvas,
            function (index, val) {
                document.getElementById("printmed" + index).value = val;

                var paso = parseInt(index + 1);
                $("#stepnumber").text(paso + 1);
                if (paso === 1) {
                    $(".paso1").hide();
                    $(".paso2").show();
                }
                if (paso === 2) {
                    $(".paso2").hide();
                    $(".paso3").show();
                }
                if (paso === 3) {
                    $(".paso3").hide();
                    $(".paso4").show();
                }

            },
            function() {
                $("#printmed0").val(0);
                $("#printmed1").val(0);
                $("#printmed2").val(0);
                
                $(".paso4").hide();
                $(".paso1").show();
                $("#stepnumber").text(1);
            },
            function () {

                console.log("OK");
                $("#loadingmodal").hide();
                $(".paso1").show();
                $("#errormodal").hide();

            },
            function() {

                console.log("NOT OK");
                $("#loadingmodal").hide();
                $("#errormodal").show();

            });
        
    </script>
}

<div class="min_full" id="cuerpo_pedir">
    <article id="sistema_input">
        <h2>Pedir una mano</h2>
        <div id="foto_input">
            @if (!string.IsNullOrWhiteSpace(imageUrl))
            {
                <div id="loadingmodal" class="imagemodal">
                    <p>Analizando imagen, aguarde.</p>
                    <img src="/Content/img/Magnify.gif">
                </div>
                <div id="errormodal" class="imagemodal" style="display: none;">
                    <div class="valign">
                        <p style="padding: 20px;">La imagen no es la mejor, pruebe sacandola mas paralelo</p>
                        
                        <a href="@Url.Action("ManoPedir")" class="blue_button">Subir otra imagen</a>
                    </div>
                </div>

                <div id="imagecontainer">
                    <img id="image" src="@imageUrl"/>
                    <canvas id="cphoto" style=""></canvas>
                </div>
                
            }
            else
            {
                <p>Por favor cargue una foto</p>
            }
        </div>
        <div id="exp_pedido_inp">
            <div>
                <h2 style="padding-left: 0; margin-left: 0;">Paso <span id="stepnumber">1</span></h2>
                
                <div class="paso1" style="display: none;">

                    <p>Ayudanos a medir de lado a lado tu muñeca.</p>

                    <p>Seguí el ejemplo de la animación.</p>
                    
                    <img src="/Content/img/ManoMedidas/Paso1.gif" />
                </div>

                <div class="paso2" style="display: none;">

                    <p>Ahora, vas a medir el largo de tu muñon.</p>

                    <p>Seguí el ejemplo de la animación.</p>

                    <img src="/Content/img/ManoMedidas/Paso2.gif" />
                </div>

                <div class="paso3" style="display: none;">

                    <p>Desde el extremo de tu muñon, ayudanos a medir su parte mas ancha.</p>

                    <p>Seguí el ejemplo de la animación.</p>

                    <img src="/Content/img/ManoMedidas/Paso3.gif" />


                </div>

                <div class="paso4" style="display: none;">

                    <p>Listo!</p>

                    <p>Estas son las medidas tomadas:</p>

                    @using (Html.BeginForm("ManoOrden", "Orders"))
                    {
                        @Html.ValidationSummary()
                        <input type="hidden" name="imageUrl" value="@imageUrl"/>

                        <label>
                            A:
                            <input type="number" readonly value="0" step="0.01" name="distA" id="printmed0"/>
                        </label>
                        <br/>
                        <label>
                            B:
                            <input type="number" readonly value="0" step="0.01" name="distB" id="printmed1"/>
                        </label>
                        <br />

                        <label>
                            C:
                            <input type="number" readonly value="0" step="0.01" name="distC" id="printmed2"/>
                        </label>
                        <br />


                        <button class="blue_button" id="clearBtn">Volver a empezar</button>

                        <input type="submit" class="blue_button" value="Siguiente"/>
                    }
                </div>

            </div>

        </div>
    </article>
</div>