@model Limbs.Web.Models.OrderModel
    
@section scripts
{
    @*scripts nuevos acá :)*@
}
<div class="min_full" id="cuerpo_pedir">
    <article id="exp_inicial">
        <h1>Nueva solicitud:</h1>
        <p id="bajada_exp">Deberás cargar una foto de tu brazo sobre una hoja cuadriculada para que podamos tomar referencias de las medidas, por favor, respetar los requisitos a continuación <b>de lo contrario, la mano no podrá ser otorgada.</b></p>
        <div id="recomendaciones_foto">
            <div>
                <p>Requisitos de la foto</p>
                <ul>
                    <li>Hoja cuadriculada de fondo</li>
                    <li>Buena luz</li>
                    <li>Foto sacada desde arriba</li>
                    <li>De ser posible, colocar una regla</li>
                </ul>
            </div>
        </div>
        <div id="ej_si" class="ej_exp">
            <p class="azulAtomicTx">SI</p>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div id="ej_no" class="ej_exp">
            <p>NO</p>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div>
            @using (Html.BeginForm("UploadImageUser", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" accept="image/jpeg" />
                <input id="enviar" type="submit" name="enviar" value="Subir foto" class="blue_button">
            }
       </div>
    </article>
</div>
