@{
    string imageUrl = ViewBag.ImageUrl;
}

@section scripts
{
    <script src="/Scripts/pages/tracking-min.js"></script>
    <script src="/Scripts/pages/munonizer.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/Content/ManoMedidas.css">

    <script>

        var image = document.getElementById('image'); 
        var canvas = document.getElementById('cphoto');

        Munonizer(tracking, image, canvas,
            function(index, val) {
                document.getElementById('printmed' + index).value = val;
            },
            function() {
                $("#printmed0").val(0);
                $("#printmed1").val(0);
                $("#printmed2").val(0);
            },
            function () {

                console.log("OK");
                $("#loadingmodal").hide();
                $("#formcontainer").show();
                $("#errormodal").hide();

            },
            function() {

                console.log("NOT OK");
                $("#loadingmodal").hide();
                $("#errormodal").show();

            });
        
    </script>
}

<div class="min_full" id="cuerpo_pedir">
    <article id="sistema_input">
        <h2>Pedir una mano</h2>
        <div id="foto_input">
            @if (!string.IsNullOrWhiteSpace(imageUrl))
            {
                <div id="loadingmodal" class="imagemodal">
                    <p>Analizando imagen, aguarde.</p>
                    <img src="/Content/img/Magnify.gif">
                </div>
                <div id="errormodal" class="imagemodal" style="display: none;">
                    <div class="valign">
                        <p style="padding: 20px;">La imagen no es la mejor, pruebe sacandola mas paralelo</p>
                        
                        <a href="@Url.Action("ManoPedir")" class="blue_button">Subir otra imagen</a>
                    </div>
                </div>

                <div id="imagecontainer">
                    <img id="image" src="@imageUrl"/>
                    <canvas id="cphoto" style=""></canvas>
                </div>
                
            }
            else
            {
                <p>Por favor cargue una foto</p>
            }
        </div>
        <div id="exp_pedido_inp">
            <div>
                <h2>Paso 1</h2>
                
                <p>Ayudanos a tomar las medidas para tu mano mecanica.</p>
                
                <div id="formcontainer" style="display: none;">     
                    
                    <p>Hacé click sobre tu foto como indica la animación.</p>
                    
                    @* TODO (ale): animacion para tomar medidas *@

                    @using (Html.BeginForm("ManoOrden", "Orders"))
                    {
                        @Html.ValidationSummary()
                        <input type="hidden" name="imageUrl" value="@imageUrl" />

                        <label>A: 
                            <input type="number" value="0" step="0.01" name="distA" id="printmed0" />
                        </label>

                        <label>B: 
                            <input type="number" value="0" step="0.01" name="distB" id="printmed1" />
                        </label>
                        
                        <label>C:
                            <input type="number" value="0" step="0.01" name="distC" id="printmed2" />
                        </label>

                        <button class="btn btn-default" id="clearBtn">Borrar medidas</button>

                        <input type="submit" class="blue_button" value="Siguiente" />
                    }
                </div>

            </div>
        </div>
    </article>
</div>