@using Microsoft.AspNet.Identity
@model Limbs.Web.Models.OrderModel
    <head>
    <script src="~/Scripts/pages/pedir_mano.js"></script>
    </head>
<div id="cont" class="min_full">

    <article id="realiza_pedido">
        <h1>Realizar pedido:</h1>
        <p>¡Hola!<br>Estamos encarando nuestro proyecto #Limbs y nos llena de alegría, el objetivo es entregar la mayor cantidad de prótesis impresas en 3D alrededor del mundo, gratis, para todos los que las necesiten. Por el momento tenemos disponibles prótesis de manos y brazos.</p>
        <button class="blue_button" id="button_encarando_proyecto">Empezar</button>
    </article>

    <!--Falta hacerlo con ajax (por eso la villereada de las anchorText),
         pero esto es un jueves a las 2 de la mañana,
        despues te lo hago bien Mati.
           Lucas.
        -->
    <article id="categoria_mano">
        <a href="/Orders/pedir_mano_medidas">
            <div class="categoria cat_mano" id="cat_mano_div">
                <div class="preview_cat"></div>
                <p>Mano</p>
            </div>
        </a>
        <a href="/Orders/pedir_brazo_medidas">
            <div class="categoria cat_brazo" id="cat_brazo_div">
                <div class="preview_cat"></div>
                <p>Brazo</p>
            </div>
        </a>
    </article>
    <script src="js/solicitud.js"></script>
    <script src="js/menu.js"></script>
</div>