
@{
    ViewBag.Title = "Admin Panel";
}

<h2>Panel de admin</h2>

<ul style="padding:50px 0;">
    <li>@Html.ActionLink("Administrar pedidos", "Orders", "Admin")</li>
    <li>@Html.ActionLink("Administrar usuarios", "Users", "Admin")</li>
    <li>@Html.ActionLink("Administrar embajadores", "Ambassadors", "Admin")</li>
</ul>
