
@{
    ViewBag.Title = "Admin Panel";
}

<h2>Panel de admin</h2>

<ul style="padding:50px 0;">
    <li>@Html.ActionLink("Pedidos", "Index", new  { controller = "Orders", area = "Admin" } )</li>
    <li>@Html.ActionLink("Usuarios", "Index", new { controller = "Users", area = "Admin" })</li>
    <li>@Html.ActionLink("Embajadores", "Index", new { controller = "Ambassadors", area = "Admin" })</li>
</ul>
