@{
    ViewBag.Title = "Gracias por confirmar tu email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>@Html.ActionLink("Iniciá sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "bn_blue" })</p>
</div>
