@{
    ViewBag.Title = Limbs.Web.Resources.AccountTexts.ExternalLoginFailure_ViewBag_Title;
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">@Limbs.Web.Resources.AccountTexts.ExternalLoginFailure_Text_danger</h3>
</hgroup>
