<div id="cont" class="min_full">
    <div id="cont-form">
        <div class="inicio-form-r">
            <h4>@Limbs.Web.Resources.AccountTexts.ForgotPasswordConfirmation_inicio_form_r_h4</h4>
        </div>
    </div>
</div>