@model Limbs.Web.Models.ForgotPasswordViewModel


<div id="cont" class="min_full">
    <div id="cont-form">
        <div class="inicio-form-r">
            <h4>Para recuperar su contraseña ingresé su mail.</h4>
        </div>
        <div class="cont_regis">

            <p id="post-form-ini">

                @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                 {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-regis", @placeholder="ejemplo@atomiclab.org"})
                        </div>
                    </div>
                    <p>
                        <button type="submit" class="blue_button" name="recoverPassword">Recuperar contraseña</button>
                    </p>
                }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}