<div id="cont" class="min_full">
    <div id="cont-form">
        <div class="cont_regis">

            <p id="post-form-ini">

                    <div class="form-group">
                        <div class="col-md-10">
                            Por favor, revise su mail
                        </div>
                    </div>
            </div>
        </div>
</div>