<div id="cont" class="min_full">
    <div id="cont-form">
        <div class="inicio-form-r">
            <h4>@Limbs.Web.Resources.AccountTexts.ResetPasswordConfirmation_inicio_form_r_h4</h4>
            <br />
            @Html.ActionLink(Limbs.Web.Resources.AccountTexts.ResetPasswordConfirmation_LoginActionLink, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    </div>
</div>