@using Limbs.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Ingresar";
}
<!DOCTYPE html>
<head>
    <script src="js/jquery-3.2.1.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='img/favicon.ico' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

    <div id="cont" class="min_full">
        <article id="reg2">
            <a href="/Users/Create"><div class="selec"><div class="fondo"></div><h2>Quiero pedir una mano</h2></div></a>
            <a href="/Ambassador/Create"><div class="selec"><div class="fondo"></div><h2>Tengo impresora y quiero ayudar</h2></div></a>
        </article>
    </div>
    <script src="js/menu.js"></script>
