@using Limbs.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Ingresar";
}

    <div id="cont" class="min_full">
        <article id="reg2">
            <a href="/Users/Create"><div class="selec"><div class="fondo"></div><h2>Quiero pedir una mano</h2></div></a>
            <a href="/Ambassador/Create"><div class="selec"><div class="fondo"></div><h2>Tengo impresora y quiero ayudar</h2></div></a>
        </article>
    </div>

@section scripts
{
    <script src="js/menu.js"></script>    
}