@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <div id="menu_perfil">
        <div id="icono_perfil" onclick="menu_mobil_activo()">
            <a href="@Url.Action("Index", "Messages", new { area = "" })" id="message-count">&nbsp;</a>
        </div>
        <ul id="opciones_perfil">
            <li class="perfil_name">
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: new { area = "",}, htmlAttributes: new {title = "Manage"})
            </li>
            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <li><a href="javascript:document.getElementById('logoutForm').submit()" class="cerrar_sesion">Cerrar sesión</a></li>
            }
        </ul>
    </div>
}

@if (Request.IsAuthenticated)
{
    <script type="text/javascript">
        $(document).ready(getUnreadCount);

        function getUnreadCount() {
            
            $.getJSON("@Url.Action("UnreadCount", "Messages", new { area = "" })",
                null,
                function (e) {
                    if (parseInt(e) > 0) {
                        $("#message-count").show().text(e);
                    } else {
                        $("#message-count").hide().text("");
                    }
                    setTimeout(getUnreadCount, 5000);
                }, function (e) {
                    console.log(e);
                    setTimeout(getUnreadCount, 5000);
                });
        }
    </script>
}