@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>

@{
    if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <h2 class="text-danger">Ocurrió un error al procesar la página.</h2>
    }
    else
    {
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
    }
}