<footer class="footer-distributed" style="background: #33383b;clear: both;">
    <div class="footer-left">
        <h3><span>Atomic Lab</span></h3>
        <p class="footer-company-about">
            Atomic Lab es una iniciativa que busca inventar las mejores soluciones para ayudar a las personas.
        </p>
        <p class="footer-company-name">Limbs - Atomic Lab &copy; @DateTime.UtcNow.Year</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Parque Patricios</span>Buenos Aires, Argentina</p>
        </div>
        <div>
            <i class="fa fa-globe"></i>
            <p><a href="http://www.atomiclab.org">www.atomiclab.org</a></p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:info@atomiclab.org">info@atomiclab.org</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>Contactanos por las redes</span>
            Estamos en todas las redes sociales. No te olvides de compartir con tus amigos lo que hacemos, as&iacute; m&aacute;s personas pueden solicitarnos su mano.
        </p>
        <div class="footer-icons">
            <a href="http://www.facebook.com/TheAtomicLab"><i class="fa fa-facebook"></i></a>
            <a href="http://www.twitter.com/TheAtomicLab"><i class="fa fa-twitter"></i></a>
            <a href="http://www.instagram.com/TheAtomicLab"><i class="fa fa-instagram"></i></a>
        </div>

    </div>
</footer>