@using Limbs.Web.Entities.Models
<header>
    <div id="main_head">
        <a href="/">
            <img id="logo_head" src="/Content/img/limbs_white.svg">
        </a>
        <nav>
            <ul>
                <li>
                    <a onclick="cerrarmenu()" href="/">Inicio</a>
                </li>
                @if (User.IsInRole(AppRoles.Requester))
                {
                    <li>
                        <a onclick="cerrarmenu()" href="@Url.Action("ManoPedir", "Orders")">Pedir una mano</a>
                    </li>
                }
                <li>
                    <a onclick="cerrarmenu()" href="http://www.limbs.earth/" target="_blank">¿Qué es Limbs?</a>
                </li>
                <li>
                    <a onclick="cerrarmenu()" href="http://atomiclab.org/donar/" target="_blank">Donar</a>
                </li>
                
                @Html.Partial("AdminMenu")
            </ul>
        </nav>
        <img src="/Content/img/menu.svg" id="menu_mobil" onclick="abrirmenu()">
    </div>
    @Html.Partial("_LoginPartial")
</header>