@using Limbs.Web.Resources
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = SharedTexts.Lockout_ViewBag_Title;
}

<hgroup>
    <h1 class="text-danger">@SharedTexts.Lockout_ViewBag_Title</h1>
    <h2 class="text-danger">@SharedTexts.Lockout_h2</h2>
</hgroup>
