<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="Mail.Server" value="smtp.zoho.com:465" />
    <add key="Mail.Username" value="no-reply@atomiclab.org" />
    <add key="Mail.Password" value="Pass@Word123" />
  
    <add key="AdminEmails" value="alebanzas@outlook.com" />

  </appSettings>
</configuration>