@model IEnumerable<Limbs.Web.Entities.Models.MessageModel>

@{
    ViewBag.Title = "Mensajes";
}

<div class="card">
    <div id="inbox-status"><p>Cargando mensajes...</p></div>
    <div id="inbox"></div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(getInbox);
        var neverLoaded = true;
        function getInbox() {
            var $dummy = $("<div>");
            $dummy.load("@Url.Action("InboxPartial", "Messages")", function(response, status, xhr) {
                var $container = $("#inbox");
                var $status = $("#inbox-status");
                if (status !== "success") {
                    if (neverLoaded) {
                        $status.html("<p>Error al cargar los mensajes. Pruebe refrescando la página.</p>");
                    } else {
                        $status.html("<p>Hubo un error al actualizar los mensajes. Si el error continua, refresque la página.</p>");
                    }
                }
                else {
                    $status.empty();
                    neverLoaded = false;
                    $container.html($dummy.html());
                }
                $dummy.remove();
                setTimeout(getInbox, 5000);
            });
        }
    </script>
}
