@model IEnumerable<Limbs.Web.Entities.Models.MessageModel>

@{
    ViewBag.Title = "Mensajes";
}

<div id="inbox" class="card">
    @Html.Partial("_InboxPartial", Model)    
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(getInbox);
        
        function getInbox() {
            var $dummy = $("<div>");
            $dummy.load("@Url.Action("InboxPartial", "Messages")", function(response, status, xhr) {
                var $container = $("#inbox");
                if (status !== "success") {
                    //location.reload();
                }
                else
                {
                    $container.html($dummy.html());
                }
                $dummy.remove();
                setTimeout(getInbox, 5000);
            });
        }
    </script>
}
