@using Limbs.Web.Common.Extensions
@using Limbs.Web.Entities.Models
@model AmputationType
@{
    var values = Enum.GetValues(ViewData.ModelMetadata.ModelType).Cast<AmputationType>()
        .Select(v => new SelectListItem
        {
            Selected = v.Equals(Model),
            Text = v.ToDescription(),
            Value = v.ToString()
        });
}
@foreach (var item in values)
{
    <div class="selector_amp" title="@item.Text" js_value="@item.Value" onclick="select_amp(this)">
        <div class="selector_size"></div>
        @Html.RadioButtonFor(b => Model, item.Value, new { @class = "tipo_amp", title = item.Text, })
    </div>
}