@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    <title>AtomicLab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div style="background-color: #fafafa;">
        <div style="box-sizing: border-box; display: block; font-family: 'Roboto', helvetica, sans-serif; margin: 0px auto; max-width: 800px; padding-bottom: 50px; padding-left: 2px; padding-right: 2px; position: relative; width: 100%;">
            <div style="background-color: #4772b2; padding: 30px 0px 20px 0px; position: relative; text-align: center;">
                <img src="http://limbs.earth/content/img/logoatomicmail.png" style="max-width: 200px; min-width: 100px; position: relative; text-align: center; width: 50%;">
            </div>
            <div style="margin: 0px auto; max-width: 475px; position: relative; width: 94%;">

                <!-- Caja 1 -->
                <div style="background: white; border: 1px solid #dddddd; box-sizing: border-box; font-size: 16px; font-weight: normal; line-height: 26px; margin: 30px 0px; padding: 10px 20px; position: relative; width: 100%;">
                    <p>
                        ¡Bienvenido Embajador Atómico!
                    <p>
                        De parte de Atomic Lab <text style="font-weight: bold;">te damos la bienvenida al equipo</text>, estamos realmente muy contentos de tenerte acá con nosotros, formando parte de este hermoso proyecto.
                        <br />
                        Cuando ingreses a la plataforma verás tu panel de control. Es probable que en este momento veas todo vacío y no tengas ningún pedido asignado, ya que recién estás ingresando la equipo. <text style="font-weight: bold;">Te enviaremos un mail cuando se te asigne el primer pedido</text>, junto a las instrucciones y un manual.
                        <br />
                        Pero tranquilo, no estás solo. Tenemos un <text style="font-weight: bold;">grupo en facebook para conectar a los embajadores atómicos de todo el mundo</text>, hacer consultas, compartir fotos de tus impresiones, tus entregas de manos, proponer mejoras a los diseños y ¡mucho más!
                        <br />
                        <text style="font-weight: bold;"> Te invitamos a sumarte al grupo </text> haciendo click en el siguiente botón:
                        <br /> <a href="https://www.facebook.com/groups/AtomicLabEmbajadores" target="_blank">SUMARME AL GRUPO</a>
                        <br />(o ingresá esta dirección en tu navegador: fb.com/groups/AtomicLabEmbajadores)
                        <br />
                        <br />¡Agradecemos tus ganas de crear más superhéroes!
                        <br />Equipo de Atomic Lab.
                        <br /> <a href="http://atomiclab.org/" target="_blank"> www.AtomicLab.org</a>
                    </p>
                </div>

            </div>

            <div style="background: #232323; color: #bbbbbb; padding: 40px; text-align: center;">
                <p>Atomic Lab es una iniciativa que busca inventar las mejores soluciones para ayudar a las personas.</p>
                <p>
                    <a href="http://atomiclab.org/" target="_blank" style="color: #bbbbbb;">Limbs, Atomic Lab © @DateTime.UtcNow.Year - AtomicLab.org</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>