@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    <title>AtomicLab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div style="background-color: #fafafa;">
        <div style="box-sizing: border-box; display: block; font-family: 'Roboto', helvetica, sans-serif; margin: 0px auto; max-width: 800px; padding-bottom: 50px; padding-left: 2px; padding-right: 2px; position: relative; width: 100%;">
            <div style="background-color: #4772b2; padding: 30px 0px 20px 0px; position: relative; text-align: center;">
                <img src="http://limbs.earth/content/img/logoatomicmail.png" style="max-width: 200px; min-width: 100px; position: relative; text-align: center; width: 50%;">
            </div>
            <div style="margin: 0px auto; max-width: 475px; position: relative; width: 94%;">
                <!-- Caja 1 -->
                <div style="background: white; border: 1px solid #dddddd; box-sizing: border-box; font-size: 16px; font-weight: normal; line-height: 26px; margin: 30px 0px; padding: 10px 20px; position: relative; width: 100%;">
                    <p>
                        Queremos comunicarte que analizamos tu situación y actualmente no tenemos diseñada una prótesis 3D que se adapte a las necesidades puntuales de @usuariodelaprotesis.
                        Te prometemos que estaremos trabajando muy fuerte para ampliar nuestros diseños y poder ayudarte.
                        En el caso que así sea, te avisaremos a este correo electrónico.
                    </p>
                    <p>El equipo de Atomic Lab.</p>
                </div>
            </div>
            <div style="background: #232323; color: #bbbbbb; padding: 40px; text-align: center;">
                <p>Atomic Lab es una iniciativa que busca inventar las mejores soluciones para ayudar a las personas.</p>
                <p>
                    <a href="http://atomiclab.org/" target="_blank" style="color: #bbbbbb;">Limbs, Atomic Lab © @DateTime.UtcNow.Year - AtomicLab.org</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>