#cuerpo_pedir {
    padding: 30px 0;
    box-sizing: border-box;
}
#cuerpo_pedir input[type='submit']{
    margin-top: 60px;
}

#exp_inicial {
    position: relative;
    display: block;
}

    #exp_inicial h1 {
        font-size: 3em;
        font-weight: 200;
    }

#bajada_exp {
    max-width: 600px;
    width: 100%;
    padding: 10px 0;
    display: inline-block;
}

#recomendaciones_foto {
    margin: 30px 0 50px 0;
}


    #recomendaciones_foto .requisitos {
        padding: 20px 15px;
        padding-left: 30px;
        align-items: center;
        text-align: center;
        display: flex;
        width: 370px;
        position: relative;
    }
    #recomendaciones_foto .requisitos:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 10px;
        height: 100%;
        background: #4772B2;
    }
        #recomendaciones_foto .requisitos div:nth-child(1) {
            flex-basis: 33%;
            padding-right: 15px;
        }
        #recomendaciones_foto .requisitos div:nth-child(1) p {
            font-size: 20px;
            color: #4772B2;
            font-weight: 600;
            text-align: left
        }
    #recomendaciones_foto .requisitos div:nth-child(2) {
        flex: 1;
    }

    #recomendaciones_foto ul {
        display: inline-block;
        text-align: left;
        list-style-type: none;
    }

.ejemplos_carga {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ej_exp {
    width: 45%;
    vertical-align: top;
    margin: 2.5%;
    max-width: 460px;
    flex: 1;
    min-width: 190px;
}

    .ej_exp p {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 10px;
    }

#ej_no p {
    color: #d02023;
}

.ej_exp ul li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-color: #0172c1;
}

.mano #ej_si ul li:nth-of-type(1) {
    background-image: url(/Content/img/ej_si001.jpg);
}

.mano #ej_si ul li:nth-of-type(2) {
    background-image: url(/Content/img/ej_si002.jpg);
}

.mano #ej_no ul li:nth-of-type(1) {
    background-image: url(/Content/img/ej_no001.jpg);
}

.mano #ej_no ul li:nth-of-type(2) {
    background-image: url(/Content/img/ej_no002.jpg);
}


.brazo #ej_si ul li:nth-of-type(1) {
    background-image: url(/Content/img/ej_si001br.jpg);
}

.brazo #ej_si ul li:nth-of-type(2) {
    background-image: url(/Content/img/ej_si002br.jpg);
}

.brazo #ej_no ul li:nth-of-type(1) {
    background-image: url(/Content/img/ej_no001br.jpg);
}

.brazo #ej_no ul li:nth-of-type(2) {
    background-image: url(/Content/img/ej_no002br.jpg);
}

.ej_exp ul li:before {
    content: '';
    width: 100%;
    position: relative;
    padding-top: 60%;
    display: block;
}

#exp_inicial .b_next {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}
/*inputs*/
#sistema_input {
    text-align: center;
}

#sistema_input h2 {
    color: #4772b2;
    font-size: 27px;
    font-weight: 400;
    text-align: left;
    padding: 30px;
    box-sizing: border-box;
    max-width: 1470px;
    margin: 0px auto;
}

#foto_input {
    width: calc(70% - 10px);
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    max-width: 1000px;
    outline: solid 1px #bbbbbb;
}

#exp_pedido_inp {
    vertical-align: top;
    display: inline-block;
    width: calc(30% - 20px - 10px);
    padding: 10px 20px 20px 20px;
    margin: 0px 10px;
    box-sizing: border-box;
    outline: solid 1px #bbbbbb;
    background-color: #f2f2f2;
    position: relative;
    max-width: 400px;
    min-height: 70vh;
    text-align: left;
}

#exp_pedido_inp h2 {
    color: #4772b2;
    font-size: 36px;
    font-weight: 300;
}
