/*
Index's : header(100)
font-family: 'Roboto', sans-serif; 100,300,400,700,900
#4772B2
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

body {
    padding-top: 70px;
}

.min_full {
    min-height: calc(100vh - 70px - 255px);
    background-color: rgb(238,238,238);
}

#cont {
    position: relative;
    width: 100%;
}

.bg-gris {
    background-color: #e2e2e2;
}

.azulAtomicBG {
    background-color: #4772b2;
}

.azulAtomicTx {
    color: #4772b2;
}

h3 {
    color: #444444;
}

/*header*/
header {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #4772b2;
    color: white;
    z-index: 9999999999999;
    box-shadow: black 0px 0px 12px -2px;
}

#main_head {
    position: relative;
    text-align: center;
    overflow: auto;
    top: 11px;
}

#logo_head {
    height: 30px;
    position: relative;
    margin: 10px auto;
    float: left;
    margin-left: 50px;
    margin-right: 40px;
}

nav {
    display: block;
    position: relative;
    float: left;
    top: 20px;
}

    nav li {
        display: inline-block;
        margin-right: 20px;
        position: relative;
    }

        nav li.mobile_menu_only {
            display: none;
        }

        nav li a {
            text-decoration: none;
            color: white;
            position: relative;
            padding-bottom: 3px;
        }

            nav li a:before {
                content: '';
                width: 0%;
                height: 1px;
                background-color: rgba(0,0,0,0);
                position: absolute;
                bottom: 0px;
                opacity: 0;
                transition: width 0.2s ease;
            }

        nav li:hover a:before {
            width: 100%;
            height: 1px;
            background-color: white;
            position: absolute;
            bottom: 0px;
            opacity: 1;
        }

#menu_perfil {
    position: absolute;
    right: 22px;
    top: 12px;
    overflow: auto;
}

#icono_perfil {
    position: relative;
    float: left;
    width: 45px;
    height: 45px;
    background-position: center;
    background-size: cover;
    background-color: white;
    background-image: url(/Content/img/default_profile.svg);
    margin: 3px 25px 3px 3px;
    border-radius: 50%;
}

    #icono_perfil #message-count {
        font-size: 10px;
        font-weight: bold;
        background-color: red;
        padding: 10px;
        border-radius: 50%;
        margin: 30px 0 0 30px;
        color: white;
        display: none;
    }

#opciones_perfil {
    padding-top: 3px;
    position: relative;
    float: left;
}

    #opciones_perfil li {
        list-style-type: none;
    }

.perfil_name {
    font-size: 15px;
}

    .perfil_name a {
        text-decoration-line: underline;
        color: white;
        font-size: 15px;
    }

.cerrar_sesion {
    font-size: 13px;
    font-weight: 300;
    color: white;
}

#menu_mobil {
    display: none;
}
/*registro*/

.form {
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 #9b9b9b;
    font: bold 14px sans-serif;
    text-align: center;
}

.f-titulo, h2.f-titulo, card .f-titulo {
    color: white;
    background-color: #4772B2;
    padding: 10px 20px;
    font-weight: 600;
    margin: 20px auto;
    position: relative;
}

.f-seccion {
    width: 80%;
    position: relative;
    margin: 0px auto;
    max-width: 300px;
}

.f-campo {
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: solid 1px #939393;
    width: 100%;
    margin: 15px 0px;
    padding-bottom: 1px;
}

    .f-campo:focus {
        outline: none;
        border-bottom: solid 2px #4772B2;
        padding-bottom: 0px;
    }

.f-campo-mitad .f-campo {
    width: calc(45% - 2px) !important;
}

.f-campo-mitad input:nth-of-type(odd) {
    margin-right: 10%;
}

.form h3 {
    margin-top: 20px;
    color: #5d5d5d;
}

.f-drop {
    padding: 7px 20px 7px 40px;
    background: #f3f3f3;
    margin: 20px 0px;
}

.f-label {
    text-align: left;
    display: block;
    font-weight: 400;
    margin-top: 10px;
}

.f-post-l {
    margin-top: 5px;
}

#map {
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 40px;
    max-height: calc(100vw - 110px);
}

/*FORMS*/
.form_title {
    color: #4772b2;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 40px;
}

.form_main_title {
    font-weight: 500;
    max-width: 100%;
    width: 320px;
    margin-bottom: 30px;
    align-items: flex-start;
    display: flex;
}

    .form_main_title > div {
        display: flex;
        flex-wrap: wrap
    }

    .form_main_title .step {
        color: #4772b2;
        font-size: 100px;
        line-height: 100px;
        height: 90px;
        flex-shrink: 1;
    }

    .form_main_title .title {
        color: #4d4d4d;
        font-size: 26px;
        height: 90px;
        line-height: 25px;
        display: flex;
        align-items: flex-end;
        width: 100%;
    }

    .form_main_title .subtitle {
        color: #555;
        font-weight: 400;
        margin-top: 10px;
    }

.sel_lado {
    max-width: 600px;
    display: flex;
}

.selector_lado {
    flex-basis: 85%;
    position: relative;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    cursor: pointer;
}

    .selector_lado:nth-child(1) {
        margin-right: 10%;
    }

    .selector_lado .sq_sizer {
        width: 100%;
        padding-top: 100%;
    }

    .selector_lado p {
        position: absolute;
        color: #4772b2;
        font-size: 30px;
        font-weight: 500;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.3s ease;
    }

    .selector_lado:hover p {
        transform: translate(-50%, -50%) scale(1.2);
    }

.select_brazo {
    visibility: hidden;
    pointer-events: none
}

#form_parte_2 {
    display: none;
}

#tipo_de_amp {
    max-width: 700px;
}

    #tipo_de_amp .selector_amp {
        position: relative;
        width: 280px;
        max-width: 90%;
        outline: solid 2px #c1c1c1;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        transition: border 0.3s;
        cursor: pointer;
        background: white;
        overflow: hidden;
    }

        #tipo_de_amp .selector_amp:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background-position: center;
            background-size: 75%;
            background-repeat: no-repeat;
            transition: transform 0.2s ease;
        }

        #tipo_de_amp .selector_amp:hover:before {
            transform: scale(1.15);
        }

        #tipo_de_amp .selector_amp .selector_size {
            position: relative;
            width: 100%;
            padding-top: 36%;
        }

    #tipo_de_amp .amp_selected.selector_amp:before {
        transform: scale(1.15);
    }

    #tipo_de_amp .amp_selected.selector_amp {
        outline: solid 3px #4772B2;
    }

    #tipo_de_amp .selector_amp .tipo_amp {
        position: absolute;
        visibility: hidden;
    }

.selector_amp[js_value=A]:before, .edit_type_amp .tipo_amp[value=A] {
    background-image: url(/Content/img/amputaciones_tipo/a.png);
}

.selector_amp[js_value=B]:before, .edit_type_amp .tipo_amp[value=B] {
    background-image: url(/Content/img/amputaciones_tipo/b.png);
}

.selector_amp[js_value=C]:before, .edit_type_amp .tipo_amp[value=C] {
    background-image: url(/Content/img/amputaciones_tipo/c.png);
}

.selector_amp[js_value=D]:before, .edit_type_amp .tipo_amp[value=D] {
    background-image: url(/Content/img/amputaciones_tipo/d.png);
}

.selector_amp[js_value=E]:before, .edit_type_amp .tipo_amp[value=E] {
    background-image: url(/Content/img/amputaciones_tipo/e.png);
}

.selector_amp[js_value=F]:before, .edit_type_amp .tipo_amp[value=F] {
    background-image: url(/Content/img/amputaciones_tipo/f.png);
}

.selector_amp[js_value=G]:before, .edit_type_amp .tipo_amp[value=G] {
    background-image: url(/Content/img/amputaciones_tipo/g.png);
}

.selector_amp[js_value=H]:before, .edit_type_amp .tipo_amp[value=H] {
    background-image: url(/Content/img/amputaciones_tipo/h.png);
}

.no-design {
    color: red;
}

    .no-design h2 {
        font-size: 18px;
        color: red;
    }

.select_brazo select {
    padding: 10px;
}

.edit_type_amp .tipo_amp {
    width: 220px;
    height: 72px;
    background-size: contain;
    background-position: center;
    -moz-appearance: initial;
    margin: 10px;
    background-repeat: no-repeat;
}

    .edit_type_amp .tipo_amp:checked {
        outline: solid 4px #4772b2;
    }

/*inicio form*/
#realiza_pedido {
    position: absolute;
    width: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: visible;
    max-width: 700px;
}

    #realiza_pedido h1 {
        font-weight: 100;
        color: #4772B2;
        font-size: 3em;
        animation: aparecer_titulo 0.7s ease;
        transition-delay: 1.5s;
        position: relative;
        letter-spacing: 4px;
    }

@keyframes aparecer_titulo {
    0% {
        top: 30px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

#realiza_pedido p {
    color: #777777;
    padding-top: 10px;
    padding-bottom: 20px;
}



button[name="recoverPassword"] {
    width: 100%;
}

#categoria_mano {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    overflow: auto;
    padding: 20px 0px;
    display: none;
    transition: opacity 0.3s;
    opacity: 0;
}

.categoria {
    position: relative;
    display: inline-block;
    width: 200px;
    padding: 16px;
    margin: 0px 10px;
    cursor: pointer;
    border: solid 1px #c6c6c6;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    border-radius: 2px;
}

    .categoria:hover {
        box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    }

.preview_cat {
    width: 200px;
    height: 200px;
    background: black;
}

.cat_mano .preview_cat {
    background-image: url(../Content/img/mano_preview.jpg);
}

.cat_brazo .preview_cat {
    background-image: url(../Content/img/brazo.jpg);
}

.categoria p {
    font-size: 1.2em;
    padding-top: 8px;
    color: #4772b2;
}

#cargando {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#login_f {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    display: block;
    display: none;
}

#cont_login {
    position: relative;
    background-color: white;
    float: left;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
}

    #cont_login #Facebook {
        background-color: #4772b2;
        border: 0px;
        padding: 5px;
        box-sizing: border-box;
        width: 100%;
        color: white;
        margin-bottom: 7px;
        cursor: pointer;
    }

    #cont_login h4 {
        font-size: 12px;
        text-align: center;
        color: rgb(100,100,100);
        font-weight: 400;
        margin-bottom: 20px;
    }

    #cont_login span {
        display: block;
    }

.field-validation-error, .validation-summary-errors ul li, .validation-summary-errors span, label.error {
    color: red;
    font-size: 14px;
    list-style-type: none;
}

.address-selector {
    display: none;
    padding: 15px 10px;
    text-align: left;
}

    .address-selector ul {
        margin-left: 15px;
    }

        .address-selector ul li {
            margin-top: 7px;
        }

#cont_login input {
    margin-bottom: 5px;
    background: white;
    border: 0px;
    border-bottom: solid 1px #4772b2;
    outline: none;
    box-shadow: none;
    display: block;
    width: 100%;
}

    #cont_login input[type = submit] {
        border: 0px;
        background: #4772b2;
        color: white;
        padding: 5px;
        cursor: pointer;
        font-size: 15px;
    }

#cont_login .campos_l {
    margin-bottom: 20px;
}

#cerrar-login {
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    color: rgb(100,100,100);
    display: inline-block;
}

.login_visible {
    display: block !important;
}
/*forms*/

#medidas_mano {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    height: 280px;
    background: black;
}

#medidas {
    display: inline-block;
    vertical-align: top;
    padding-right: 30px;
    box-sizing: border-box;
    width: 50%;
    min-width: 210px;
}

    #medidas li {
        list-style-type: none;
        clear: both;
        margin-bottom: 48px;
        overflow: auto;
        border-bottom: solid 1px #4772B2;
    }

        #medidas li p, #medidas li input {
            float: left;
        }

        #medidas li p {
            background: #4772b2;
            border-radius: 50%;
            color: white;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }

        #medidas li input {
            width: calc(100% - 70px);
            font-size: 1.2em;
            line-height: 23px;
            padding: 0px 5px;
            border: 0px;
            height: 19px;
            text-align: center;
            top: 7px;
            position: relative;
        }

            #medidas li input:focus {
                outline: none;
            }

        #medidas li:after {
            content: 'cm';
            color: black;
            display: block;
            float: left;
            position: relative;
            top: 10px;
        }

.color_mano {
}

.sel_color_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .sel_color_container .sel_color_mano {
        position: relative;
        width: 120px;
        height: 120px;
        margin-right: 10px;
        margin-bottom: 10px;
        transition: outline 0.2s ease;
        outline: solid 0px #4772B2;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }

        .sel_color_container .sel_color_mano input {
            visibility: hidden;
            cursor: pointer;
            pointer-events: none;
        }

        .sel_color_container .sel_color_mano.color_selected {
            outline: solid 5px #4772b2;
        }

.color_mano input {
    position: relative;
    width: 140px;
    height: 140px;
    display: inline-block;
    /*float: left;*/
    margin-right: 10px;
    margin-bottom: 10px;
    /*appearance: inherit;*/
    -moz-appearance: inherit;
    -webkit-appearance: inherit;
    border: solid 0px #4772B2;
    transition: border 0.3s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

    .color_mano input[value=A], .sel_color_container .sel_color_mano[js_value=A] {
        background-image: url(/Content/img/Mano/mano_a.png);
    }

    .color_mano input[value=B], .sel_color_container .sel_color_mano[js_value=B] {
        background-image: url(/Content/img/Mano/mano_b.png);
    }

    .color_mano input[value=C], .sel_color_container .sel_color_mano[js_value=C] {
        background-image: url(/Content/img/Mano/mano_c.png);
    }

    .color_mano input[value=D], .sel_color_container .sel_color_mano[js_value=D] {
        background-image: url(/Content/img/Mano/mano_d.png);
    }

    .color_mano input[value=E], .sel_color_container .sel_color_mano[js_value=E] {
        background-image: url(/Content/img/Mano/mano_e.png);
    }

    .color_mano input[value=F], .sel_color_container .sel_color_mano[js_value=F] {
        background-image: url(/Content/img/Mano/mano_f.png);
    }

    .color_mano input:checked {
        border: solid 5px #4772B2;
    }

    .color_mano input:focus {
        outline: none;
    }

.atomForm-send {
    margin-top: 60px;
}

/*home2*/
#home2 {
    position: absolute;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.opcion_ini {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    padding: 16px;
    margin: 0px 10px;
    cursor: pointer;
    border: solid 1px #c6c6c6;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    border-radius: 2px;
}

    .opcion_ini:hover {
        box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    }

    .opcion_ini img {
        display: block;
        margin-bottom: 20px;
        background-color: #d6d6d6;
    }

    .opcion_ini button a {
        color: inherit;
    }

/*home*/
#home {
    max-width: 900px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin: 0px auto;
    text-align: center;
}

    #home a[name="btn_pedir"] {
        margin: 30px 0px;
    }

    #home .titleHome {
        text-align: left;
    }

.orderContainer {
    margin: 20px 0px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

    .orderContainer .headerOrder {
        display: flex;
        align-items: baseline;
    }

        .orderContainer .headerOrder h2 {
            font-size: 19px;
            font-weight: 400;
            margin-right: 7px;
        }

        .orderContainer .headerOrder p {
            font-size: 14px;
            font-weight: 400;
            color: #6d6d6d;
            font-style: italic;
        }

    .orderContainer .statusDescription {
        margin: 10px 0px;
    }

        .orderContainer .statusDescription h3 {
            color: #4772b2;
        }

        .orderContainer .statusDescription p {
        }

        .ordersLabels, .orderContainer .statusDescription p {
            color: #6d6d6d;
            font-weight: 400;
            font-size: 14px;
        }

.pedidoLinea {
    position: relative;
    width: calc(100% - 110px);
    margin: 0px auto;
    pointer-events: none;
}

.puntosContainer {
    width: 100%;
    height: 50px;
    position: relative;
}

    .puntosContainer .contenedorLinea {
        position: absolute;
        width: 25%;
        height: 100%;
    }

        .puntosContainer .contenedorLinea .circulo {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: solid 2px #4772b2;
            background: white;
            position: absolute;
            top: calc(50% - 14px);
            transform: translateX(-50%);
            z-index: 10;
        }

        .puntosContainer .contenedorLinea .linea {
            width: 100%;
            height: 5px;
            background: #8f8f8f;
            position: absolute;
            top: calc(50% - 2.5px);
            left: -100%;
            z-index: 9;
        }

    .puntosContainer .estadoPasado .circulo, .puntosContainer .estadoPasado .linea {
        background: #4772b2;
    }

.labelsContainer {
    width: 100%;
    height: 50px;
    position: relative;
}

    .labelsContainer p {
        position: absolute;
        transform: translateX(-50%);
    }

        .labelsContainer p.labelPresente {
            color: #4772b2;
            font-weight: 500;
        }

#tus_pedidos {
    position: relative;
    margin-top: 70px;
}

    #tus_pedidos h2 {
        font-size: 1.4em;
        font-weight: 400;
        color: #4772B2;
        padding-bottom: 10px;
    }

    #tus_pedidos table {
        width: 100%;
        background-color: #d9d9d9;
        border-collapse: collapse;
        text-align: left;
    }

    #tus_pedidos tr:nth-child(even) {
        background-color: #ebebeb;
    }

    #tus_pedidos td, #tus_pedidos th {
        padding: 11px 0px;
        padding-left: 30px;
        border-left: solid 1px #c0c0c0;
        box-sizing: border-box;
    }

    #tus_pedidos tr th:first-of-type, #tus_pedidos tr td:first-of-type {
        border-left: solid 0px;
    }

/*
    #tus_pedidos tr:first-of-type th {
        padding-top: 20px;
    }

    #tus_pedidos tr:last-of-type td {
        padding-bottom: 20px;
    }
*/

/*help pedir una protesis*/

.help-pedirunaprotesis {
    background-color: #eeeeee;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
}

    .help-pedirunaprotesis .content > h2 {
        font-weight: 300;
        color: #444444;
        padding-top: 50px;
        font-size: 32px;
    }

    .help-pedirunaprotesis .content > p {
        color: #444444;
        padding: 30px 0px;
        font-weight: 400;
        font-size: 17px;
        line-height: 29px;
    }

    .help-pedirunaprotesis .pregunta {
    }

        .help-pedirunaprotesis .pregunta > p {
            color: #4772B2;
            font-weight: 600;
            font-size: 20px;
            padding-top: 5px;
            padding-bottom: 7px;
        }

        .help-pedirunaprotesis .pregunta .opciones-cuenta {
            display: flex;
            justify-content: space-between;
            max-width: 500px;
            margin: 0px auto;
        }

            .help-pedirunaprotesis .pregunta .opciones-cuenta .opcion {
                position: relative;
                margin: 20px;
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                background-color: white;
                box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
            }

                .help-pedirunaprotesis .pregunta .opciones-cuenta .opcion div {
                    position: relative;
                    padding-top: 100%;
                }

                .help-pedirunaprotesis .pregunta .opciones-cuenta .opcion p {
                    margin: 0px;
                    color: #4772b2;
                    font-weight: 600;
                }




/*registro parte 2*/
#reg2 {
    display: flex;
    flex-direction: row;
}

    #reg2 a {
        width: 100%;
    }

.selec {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#reg2 a:nth-of-type(1) .selec {
    background-image: url(img/Account/reg2-usr.jpg);
}

#reg2 a:nth-of-type(2) .selec {
    background-image: url(img/Account/reg2-emb.jpg);
}

.selec:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: inset 0px 0px 140px rgba(0,0,0,0.2)
}

.selec .fondo {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0);
    z-index: 2;
    background-image: none !important;
}

.fondo:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(71, 114, 178, 0.5);
}

/*
.selec:hover .fondo {
    background: rgba(255,255,255,0.3);
}
*/

.selec:hover h2 {
    font-size: 25px;
}

.selec h2 {
    text-align: center;
    position: relative;
    width: 80%;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 22px;
    transition: font-size 0.5s ease;
    color: white;
}

/*panel embajadores*/
#panel_embajadores h1 {
    font-size: 3em;
    font-weight: 200;
    color: #4772B2;
    padding: 30px 0px;
}

#panel_embajadores .info_panel_embajador {
    text-align: center;
}

#estadistica_emb {
    overflow: auto;
}

    #estadistica_emb div {
        position: relative;
        width: 130px;
        height: 130px;
        padding-top: 17px;
        border: solid 1px #4772b2;
        border-radius: 50%;
        box-sizing: border-box;
        display: inline-block;
        margin: 0px 20px;
    }

    #estadistica_emb h2 {
        font-weight: 300;
        color: #4772B2;
        font-size: 50px;
        padding-bottom: 0px;
    }

#paneles_embajador {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}



.panel_emb {
    width: calc(48% - 2px);
    margin: 20px 1%;
    margin-top: 0px;
    padding: 20px;
    min-width: 460px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

    .panel_emb h2 {
        text-align: left;
    }


.table-pedidos > *:hover {
    cursor: pointer;
    background-color: #4772B2;
    color: white;
}

.table-pedidos {
    display: block
}

    .table-pedidos > * {
        color: #4772b2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 80px;
        position: relative;
        padding-left: 7px;
    }


        .table-pedidos > * > div:nth-child(1) {
            position: absolute;
            bottom: 22px;
            right: 5px;
        }

            .table-pedidos > * > div:nth-child(1) > div {
                margin: auto 0px;
            }

        .table-pedidos > * > div:nth-child(2) {
            padding: 0px;
            font-size: 17px;
            font-weight: 700;
            height: 34px;
            flex-grow: 1;
            display: flex;
            width: calc(100% - 34px);
            align-items: center;
        }

            .table-pedidos > * > div:nth-child(2) > div {
                margin-top: auto;
            }

        .table-pedidos > * > div:nth-child(3) {
            position: absolute;
            right: 3px;
            color: #777777;
            padding: 0px;
            font-size: 14px;
            width: calc(100% - 147px);
            text-align: right;
            line-height: 12px;
            bottom: 7px;
        }

        .table-pedidos > *:hover > * {
            color: #ffffff !important;
        }

        .table-pedidos > * > div:nth-child(4) {
            padding: 0px;
            flex-grow: 2;
        }


/*info solicitud*/
.head_info {
    border-bottom: solid 1px #4772b2;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}

    .head_info h1 {
        font-size: 3em;
        font-weight: 200;
        color: #4772B2;
    }

#estado_pedido {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.grid_pedidos .card img {
    max-height: 200px;
    max-width: 200px;
}

#info_solicitud {
    max-width: 900px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin: 0px auto;
    text-align: center;
}

    #info_solicitud h1 {
        font-size: 3em;
        font-weight: 200;
        color: #4772B2;
        padding: 10vh 0px 10px 0px;
    }

#accion_pedido {
    padding: 20px 0px;
}

.tabla_datos {
    padding: 3px;
    text-align: left;
    border-collapse: collapse;
    position: relative;
    width: 100%;
}

    .tabla_datos tr {
        border-bottom: solid 1px #dadada;
    }

        .tabla_datos tr td {
            padding: 11px 18px;
        }

        .tabla_datos tr:last-of-type {
            border-bottom: none;
        }

    .tabla_datos ul.log li {
        max-width: 50vw;
        word-wrap: break-word;
    }

.printed_pieces_box button[type="submit"] {
    margin-top: 10px;
}

.printed_pieces_box .pieces_row {
    width: 100%;
    padding: 20px 0px;
    border-bottom: solid #dadada 1px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

    .printed_pieces_box .pieces_row:last-of-type {
        border-bottom: none;
    }

    .printed_pieces_box .pieces_row .cl_l, .printed_pieces_box .pieces_row .cl_r {
        box-sizing: border-box;
    }

    .printed_pieces_box .pieces_row .cl_l {
        width: 40%;
        padding-left: 20px;
        font-size: 17px;
        min-width: 340px;
    }

.pieces_row .cl_l ul li {
    list-style-type: none;
    margin: 6px 0px;
}

.pieces_row .cl_l .cl_check, .pieces_row .cl_l p {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle
}

    .pieces_row .cl_l .cl_check input {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

.printed_pieces_box .pieces_row .cl_r {
    width: 50%;
    padding: 10px 20px;
    min-width: 320px;
    margin: 0px auto;
}

    .printed_pieces_box .pieces_row .cl_r img {
        width: 100%;
        max-height: initial;
        max-width: initial;
    }
/**FOOOOOTEEEERRRR**/
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px 20px;
    min-height: 255px;
}

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */

    .footer-distributed .footer-left {
        width: 40%;
    }

    /* The company logo */

    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }

        .footer-distributed h3 span {
            color: #0172c1;
        }

    /* Footer links */

    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    /* Footer Center */

    .footer-distributed .footer-center {
        width: 35%;
    }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer-distributed .footer-center p a {
                color: #0172c1;
                text-decoration: none;
            }


    /* Footer Right */

    .footer-distributed .footer-right {
        width: 20%;
    }

    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

        .footer-distributed .footer-company-about span {
            display: block;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .footer-distributed .footer-icons {
        margin-top: 25px;
    }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }

.footer-embajadores {
    text-align: center;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }

            .footer-distributed .footer-center i {
                margin-left: 0;
            }
}

.inicio-form-r {
    text-align: center;
}

    .inicio-form-r h2 {
        color: #4772b2;
    }

    .inicio-form-r h4 {
        color: #242729;
        font-weight: 300;
        font-size: 21px;
        margin-bottom: 20px;
    }

#cont-form {
    padding: 50px 0px;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.cont_regis {
    padding: 15px 30px;
    box-sizing: border-box;
    color: #1f1f1f;
    max-width: 300px;
    margin: 0px auto;
    background: white;
    border: solid 1px #bfbfbf;
    position: relative;
    margin-bottom: 15px;
}

    .cont_regis .form-group {
        margin-top: 10px;
    }

.input-regis, textarea {
    width: 100%;
    border: none;
    border-bottom: solid 1px grey;
    margin-bottom: 10px;
    padding-bottom: 1px;
}

    .input-regis:focus, textarea:focus {
        outline: none;
        border-bottom: solid 2px #4772b2;
        padding-bottom: 0px;
    }

.input-validation-error, .f-campo.error {
    border-bottom-color: red;
}

#post-form-ini {
    max-width: 300px;
}

    #post-form-ini a {
        color: #4772b2;
        text-decoration: underline;
    }

.ing-btn {
    display: block;
    text-align: center;
    padding: 5px;
    color: white;
    margin: 20px 0px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 14px;
    border: none;
    width: 100%;
}

.ing-google {
    background-color: #e0492f;
}

.ing-facebook {
    background-color: #395697;
    margin-bottom: 25px;
}



/*@Mati, hice esto como workaround. Te dejo el TODO*/
.tipo_amp2 {
    position: relative;
    width: 230px;
    height: 75px;
    border: solid 2px #c1c1c1;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    -moz-appearance: inherit;
    -webkit-appearance: inherit;
    transition: border 0.3s;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    cursor: pointer;
}

    .tipo_amp2:checked {
        border: solid 5px #4772B2;
    }

    .tipo_amp2[value=A] {
        background-image: url(/Content/img/amputaciones_tipo/a.png);
    }

    .tipo_amp2[value=B] {
        background-image: url(/Content/img/amputaciones_tipo/b.png);
    }

    .tipo_amp2[value=C] {
        background-image: url(/Content/img/amputaciones_tipo/c.png);
    }

    .tipo_amp2[value=D] {
        background-image: url(/Content/img/amputaciones_tipo/d.png);
    }

    .tipo_amp2[value=E] {
        background-image: url(/Content/img/amputaciones_tipo/e.png);
    }

    .tipo_amp2[value=F] {
        background-image: url(/Content/img/amputaciones_tipo/f.png);
    }

    .tipo_amp2[value=G] {
        background-image: url(/Content/img/amputaciones_tipo/g.png);
    }

    .tipo_amp2[value=H] {
        background-image: url(/Content/img/amputaciones_tipo/h.png);
    }

.hide {
    display: none;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.75);
}

.limbs-modal-container {
    display: block;
    height: auto;
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Modal Content */
.limbs-modal-content, .limbs-modal-header {
    padding: 1em;
}

.limbs-modal-header {
    background-color: #4772b2;
}

    .limbs-modal-header h3 {
        color: white;
    }

.limbs-modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
}

/* The Close Button */
.close {
    color: #dddddd;
    float: right;
    font-size: 1.75em;
    margin-top: -5px;
}

    .close:hover,
    .close:focus {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

#Comments {
    margin-top: .5em;
}

.modal-body-title {
    margin-bottom: 1em;
}

.text-error {
    color: red;
}
/**/

.img-delete-container {
    width: 30%;
    height: 100%;
}

    .img-delete-container:hover {
        background-color: rgba(0,0,0,.75);
    }

.dz-remove {
    margin-top: 1em;
}

.dz-imageMano {
    height: 120px;
}

    .dz-imageMano img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }