@media only screen and (max-width: 760px) {

    header {
        height: 55px;
    }

    body {
        padding-top: 55px;
    }

    .min_full {
        min-height: calc(100vh - 365px);
    }

    #main_head {
        top: 0px;
        height: 55px;
        overflow: inherit;
    }

    #menu_perfil {
        position: absolute;
        top: 0px;
        left: 0px;
        right: initial;
        transition: width 0.3s, height 0.3s;
        padding: 5px 20px 5px 5px;
    }

    #icono_perfil {
        margin: 0px;
        display: block;
    }

    #opciones_perfil {
        display: none;
    }

    .menu_mobil_activo {
        width: 100%;
        height: 100vh;
        background: #4772b2;
        animation: abrir_perfil_m 0.3s;
    }

    @keyframes abrir_perfil_m {
        0% {
            height: 70px;
            width: 70px;
            border-radius: 0px 0px 100% 0px;
        }

        100% {
            height: 100vh;
            width: 100%;
            border-radius: 0px;
        }
    }

    .menu_mobil_activo #opciones_perfil {
        display: block;
        top: 50%;
        text-align: center;
        width: 100%;
        transform: translateY(-50%);
        position: absolute;
        left: 0px;
    }

    #logo_head {
        z-index: 100;
        float: none;
    }

    nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #4772b2;
        top: 0px;
        left: 100%;
        padding-top: 70px;
        z-index: 98;
        transition: left 0.3s ease;
    }

        nav li {
            display: block;
            padding: 20px 0px;
            margin: 0px;
        }

            nav li.mobile_menu_only {
                display: block;
            }

    .nav_mobile_act {
        left: 0px;
    }

    #menu_mobil {
        display: block;
        position: absolute;
        right: 14px;
        top: 15px;
        height: 25px;
        z-index: 100;
    }

    /*inicio*/
    #cont_inicio {
        width: 100%;
        left: 0px;
        transform: translateY(-50%);
        height: 220px;
    }

    #proyecto_inicio {
        animation: none;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

    #logo_inicio {
        right: inherit;
        animation: none;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    /*realizar pedido*/
    #realiza_pedido {
        position: relative;
        transform: inherit;
        left: 0px;
        top: 0px;
        padding-top: 30px;
    }

        #realiza_pedido h1 {
            font-size: 1.2em;
            font-weight: 800;
            letter-spacing: 1px;
        }

    #categoria_mano {
        position: relative;
        transform: inherit;
        top: inherit;
    }

    .categoria {
        margin-bottom: 20px;
    }

    .preview_cat {
        height: calc(100vh / 2 - 130px);
        max-height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: #b3b3b3;
    }

    #color_mano input {
        width: 130px;
        height: 130px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    /*home*/
    .orderContainer {
        padding: 10px;
    }

    .pedidoLinea {
        width: calc(100% - 30px);
    }

    .labelsContainer p {
        display: none
    }

        .labelsContainer p:first-child {
            left: -12px !important;
            transform: none;
        }

        .labelsContainer p:last-child {
            left: initial !important;
            transform: none;
            right: -12px;
        }

        .labelsContainer p.labelPresente {
            display: initial;
        }

    .orderContainer .statusDescription h3 {
        font-size: 15px;
    }

    #tus_pedidos td, #tus_pedidos th {
        padding: 11px 5px !important;
        font-size: 0.8em;
    }

    #reg2 {
        flex-direction: column;
        height: calc(100vh - 55px);
        position: relative;
    }

        #reg2 a {
            height: 50%;
        }

    .selec {
        height: 100%;
    }

    /*registro*/
    .form {
        padding: 50px 0px;
    }

    /*registro parte 2*/
    #reg2 {
        flex-direction: column;
        height: calc(100vh - 55px);
        position: relative;
    }

        #reg2 a {
            height: 50%;
        }

    .selec {
        height: 100%;
    }

    /*panel embajadores*/
    .panel_emb {
        padding: 5px;
        width: 100%;
        min-width: initial;
        margin: 20px 0px;
    }

    #panele_embajadores table tr td {
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(100vw - 190px);
    }

    #paneles_embajador .card {
        padding: 20px 10px;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }

        #paneles_embajador .card h2 {
            font-size: 16px;
        }
    /*info pedido*/
    #estado_pedido {
        position: relative;
        padding-top: 50px;
    }

    .table-pedidos > * {
        color: #434343;
    }

        .table-pedidos > * > div:nth-child(2) {
            color: #4772b2;
        }

    .flex_info {
        display: block;
    }

    .tabla_datos {
        width: 100%;
        margin-left: 0px;
    }

        .tabla_datos tr td {
            padding: 8px 4px;
        }
}


/*termina media*/


/*--------------------------------------Loader---------------------------------------------*/
#loadingModal {
    position: fixed;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100
}

.loader {
    border: 16px solid #4772b2;
    border-radius: 50%;
    border-top: 16px solid #E1E1E1;
    width: 120px;
    height: 120px;
    animation: spin 1.8s linear infinite;
    position: fixed;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    box-sizing: border-box;
}

.loader {
    -webkit-animation: giro 3s linear infinite;
    animation: giro 3s linear infinite;
}

@-webkit-keyframes giro {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes giro {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}
/*--------------------------------------Loader---------------------------------------------*/

.fontFileUpload {
    font-size: 6em;
    color: #2a2a56;
}

.dropzone {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.fontUploadFile {
    font-family: Roboto,sans-serif;
}


.dropzone .dz-preview.dz-file-preview .dz-imageMano {
    border-radius: 20px;
    background: #999;
    background: linear-gradient(to bottom, #eee, #ddd);
}

.dropzone .dz-preview.dz-file-preview .dz-details {
    opacity: 1;
}

.dropzone .dz-preview:hover .dz-imageMano img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

.dropzone .dz-preview .dz-imageMano {
    border-radius: 20px;
    overflow: hidden;
    width: 120px;
    height: 100px;
    position: relative;
    display: block;
    z-index: 10;
}

    .dropzone .dz-preview .dz-imageMano img {
        display: block;
    }

#formManoMedidas:hover {
    border: 3px solid #4772b2;
    background: #d6d6d6;
}



/*Slideshow*/

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prevSlide, .nextSlide {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.nextSlide {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prevSlide:hover, .nextSlide:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.textSlide {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.slider .slider-image-container img {
    max-height: 450px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.slider-image-container {
    position: relative;
    height: 100%;
    width: 100%;
}



.slider-image-container .slider-image-action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
}

.slider-image-container:hover .slider-image-action {
    display: block;
    background: rgba(0,0,0,.6);
}

.slider-image-action .action {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.5em;
    color: #e74c3c;
}

.action:hover {
    cursor: pointer;
}

@media only screen and (max-width: 760px) {
    .slider-image-container .slider-image-action {
        display: block;
        background: rgba(0,0,0,.6);
    }
}

.msg-success {
    margin: .25em 0;
}

    .msg-success > span, .success {
        color: #27ae60;
    }