@media only screen and (max-width: 760px) {

    header {
        height: 55px;
    }

    body {
        padding-top: 55px;
    }

    .min_full {
        min-height: calc(100vh - 365px);
    }

    #main_head {
        top: 0px;
        height: 55px;
        overflow: inherit;
    }

    #menu_perfil {
        position: absolute;
        top: 0px;
        left: 0px;
        right: initial;
        transition: width 0.3s, height 0.3s;
        padding: 5px 20px 5px 5px;
    }

    #icono_perfil {
        margin: 0px;
        display: block;
    }

    #opciones_perfil {
        display: none;
    }

    .menu_mobil_activo {
        width: 100%;
        height: 100vh;
        background: #4772b2;
        animation: abrir_perfil_m 0.3s;
    }

    @keyframes abrir_perfil_m {
        0% {
            height: 70px;
            width: 70px;
            border-radius: 0px 0px 100% 0px;
        }

        100% {
            height: 100vh;
            width: 100%;
            border-radius: 0px;
        }
    }

    .menu_mobil_activo #opciones_perfil {
        display: block;
        top: 50%;
        text-align: center;
        width: 100%;
        transform: translateY(-50%);
        position: absolute;
        left: 0px;
    }

    #logo_head {
        z-index: 100;
        float: none;
    }

    nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #4772b2;
        top: 0px;
        left: 100%;
        padding-top: 70px;
        z-index: 98;
        transition: left 0.3s ease;
    }

        nav li {
            display: block;
            padding: 20px 0px;
            margin: 0px;
        }

    .nav_mobile_act {
        left: 0px;
    }

    #menu_mobil {
        display: block;
        position: absolute;
        right: 14px;
        top: 15px;
        height: 25px;
        z-index: 100;
    }

    /*inicio*/
    #cont_inicio {
        width: 100%;
        left: 0px;
        transform: translateY(-50%);
        height: 220px;
    }

    #proyecto_inicio {
        animation: none;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

    #logo_inicio {
        right: inherit;
        animation: none;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    /*realizar pedido*/
    #realiza_pedido {
        position: relative;
        transform: inherit;
        left: 0px;
        top: 0px;
        padding-top: 30px;
    }

        #realiza_pedido h1 {
            font-size: 1.2em;
            font-weight: 800;
            letter-spacing: 1px;
        }

    #categoria_mano {
        position: relative;
        transform: inherit;
        top: inherit;
    }

    .categoria {
        margin-bottom: 20px;
    }

    .preview_cat {
        height: calc(100vh / 2 - 130px);
        max-height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: #b3b3b3;
    }

    #color_mano input {
        width: 130px;
        height: 130px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    /*home*/
    #tus_pedidos td, #tus_pedidos th {
        padding: 11px 5px !important;
        font-size: 0.8em;
    }

    #reg2 {
        flex-direction: column;
        height: calc(100vh - 55px);
        position: relative;
    }

        #reg2 a {
            height: 50%;
        }

    .selec {
        height: 100%;
    }

    /*registro*/
    .form {
        padding: 50px 0px;
    }

    /*registro parte 2*/
    #reg2 {
        flex-direction: column;
        height: calc(100vh - 55px);
        position: relative;
    }

        #reg2 a {
            height: 50%;
        }

    .selec {
        height: 100%;
    }

    /*Embajadores*/
    .panel_emb {
        padding: 5px;
        width: 100%;
        min-width: initial;
        margin: 20px 0px;
    }
    #paneles_embajador table tr td:nth-of-type(1) {
        display: none;
    }
    #paneles_embajador table tr td {
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(100vw - 190px);
    }
    /*info solicitud*/
    #estado_pedido {
        position: relative;
        padding-top: 50px;
    }
    .flex_info {
        display: block;
    }

    .tabla_datos {
        width: 100%;
        margin-left: 0px;
    }

        .tabla_datos tr td {
            padding: 8px 4px;
        }
}


/*termina media*/


/*--------------------------------------Loader---------------------------------------------*/
#loadingModal {
    position: fixed;
    background: rgba(142, 141, 141,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100
}

.loader {
    border: 16px solid #3498db;
    border-radius: 50%;
    border-top: 16px solid #E1E1E1;
    width: 100px;
    height: 100px;
    animation: spin 1.8s linear infinite;
    position: fixed;
    left: 45%;
    top: 45%;
}

.loader {
    -webkit-animation: giro 3s linear infinite;
    animation: giro 3s linear infinite;
}

@-webkit-keyframes giro {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes giro {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}
/*--------------------------------------Loader---------------------------------------------*/