@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Comencemos!</h2>
    </div>
    <div class="col-md-8">
        <h2>Pasos</h2>

        <p>
            <a class="btn btn-default" href="/Users/Create">1. Tus datos</a>
        </p>

        <p>
            2. ¿Vos vas a usar la protesis?
            <br/>
            <a class="btn btn-default" href="#">Si</a>
            <br />
            <a class="btn btn-default" href="/Users/Create">No: ingresa los datos del usuario de la protesis.</a>
        </p>

        <p>
            <a class="btn btn-default" href="/Order/Create">3. Detalles de la protesis</a>
        </p>

        <p>
            <a class="btn btn-default" href="#submit">4. Enviar pedido</a>
        </p>

        <p>5. Esperar a tu embajador</p>

    </div>
</div>