@using Limbs.Web.Models
@model LoginViewModel
@{ 
    ViewBag.Title = "Home";
}
    <head>
        <link rel="stylesheet" href="~/Content/style.css">
        <link rel="stylesheet" href="~/Content/style2.css">
        <script src="/Scripts/menu-login.js"></script>
        <meta property="og:title" content="Limbs - Atomic Lab">
        <meta property="og:type" content="Website">
        <meta property="og:image" content="~/Content/img/fondo_ini.jpg">
        <meta property="og:site_name" content="Limbs">
        <meta property="og:description" content="Desde Limbs, una plataforma de Atomic Lab, creemos que todos deben tener su mano impresa en 3D.">
        <!--end social meta-->
        <meta name="description" content="Desde Limbs, una plataforma de Atomic Lab, creemos que todos deben tener su mano impresa en 3D.">
    </head>

<div id="inicio">
    <div class="primero_ini">
        <div id="cont_inicio">
            <div>
                <img src="~/Content/img/limbs_white.svg" alt="logo atomic lab">
            </div>
            <div>
                <a href="@Url.Action("Login", "Account")" class="bn_blue">Iniciar sesión</a>
            </div>
            <div>
                <a href="@Url.Action("Register", "Account")" id="registrarse_button">Registrarse</a>
            </div>
        </div>
    </div>

    <div class="texto_inicio">
        <h1>¡Bienvenido a Limbs!</h1>
        <p>Desde Limbs, una plataforma de Atomic Lab, creemos que todos deben tener su mano impresa en 3D y que el dinero no debe ser una interrupción. Por eso,<br><span class="azulAtomicTx"> todas son GRATUITAS.</span></p>
    </div>
</div>
<div id="pedir">
    <div class="cont_pedir">
        <div class="imagen_pedir">
            <div class="cuadrado azulAtomicBG">
                <h1>TRES SIMPLES PASOS</h1>
            </div>
            <img src="/Content/img/foto01.jpg" height="400" width="300" />
        </div>

        <center>

            <p class="text">Limbs es una plataforma que te ayudará en 3 simples pasos a tener tu mano, brazo o cualquier otra parte impresa en 3D.</p>
            <div class="link">
                <a href="@Url.Action("Register", "Account")" class="boton">Pedir una mano</a>
            </div>
            <div class="link">
                <a class="azulAtomicTx" href="http://atomiclab.org/faq" target="_blank">Más Información</a>
            </div>
        </center>
    </div>
</div>
<div id="embajadores">
    <section class="container">
        <div class="half-left">
            <img src="~/Content/img/icon_embajador.svg" class="embajadores-logo" />
        </div>
        <div class="half-right">
            <div class="texto_embajadores">
                <h1>
                    EMBAJADORES<br>
                    ATÓMICOS
                </h1>
            </div>
        </div>
    </section>
    <div class="body-embajadores">
        <p>
            ¿Tenés una impresora 3D y querés ayudar? ¡Inscribite!<br>
            Un "Embajador Atomico" puede ser cualquier persona mayor de 18 años con una impresora 3D y que quiera ayudar. Nosotros enviamos los planos, instrucciones y la posibilidad de tener un trabajo extra remunerado.
        </p>
    </div>
    <div class="footer-embajadores">
        <div class="link">
            <a href="@Url.Action("Register", "Account")" class="boton-embajadores">Ser embajador</a>
        </div>
    </div>
</div>
<div id="sobre">
    <section class="cont_pedir">
        <div class="texto_inicio">
            <h1>¿Cómo está compuesta?</h1>
            <center>
                Las manos mecánicas están impresas con PLA, un derivado del maíz que no generará picazón. Podes bajarte los diseños gratis acá: <br>
                www.AtomicLab.org/limbs/libre.
            </center><br>
        </div>
    </section>
</div>
<div id="manoton">
    <div class="texto_manoton">
        <h1>Manot&oacute;n</h1>
        <div class="body-embajadores">
            <center>
                <p>El #MANOTON es un evento en la que se convocan chicos que hayan solicitado un prótesis mediante la plataforma LIMBS. Durante el día se ensamblan y entregan las manos mecánicas, ¡Convirtiendo chicos en super héroes!</p>
            </center>
        </div>
        <div class="footer-embajadores">
            <div class="link">
                <a class="boton-embajadores" href="http://limbs.earth/manoton/" target="_blank">Saber más</a>
            </div>
        </div>
    </div>
</div>