@model Limbs.Web.Models.UserModel
<body>
    <header>
        <div id="main_head">
            <a href="index.php"><img id="logo_head" src="img/limbs_white.svg"></a>
            <nav>
                <li><a onclick='cerrarmenu()' href="home.php">Inicio</a></li>
                <li><a onclick='cerrarmenu()' href="pedir_una_mano.php">Pedir una mano</a></li>
                <li><a onclick='cerrarmenu()' href="http://www.limbs.earth/" target="_blank">¿Qué es Limbs?</a></li>
            </nav>
            <img src="img/menu.svg" id="menu_mobil" onclick="abrirmenu()">
        </div>
        <div id="menu_perfil">
            <div id="icono_perfil"></div>
            <ul id="opciones_perfil">

                @*@Html.ActionLink( "Test User", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }
                    )
                *@
                @User.Identity.Name

                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <li><a href="javascript:document.getElementById('logoutForm').submit()" class="cerrar_sesion">Cerrar sesión</a></li>
                }
            </ul>
        </div>
    </header>
    <div id="cont" class="min_full">
        <article id="home">
            <h1>Hola @User.Identity.Name</h1>
            <a href="/Users/Create"><button id="home_pedir" class="blue_button">Pedir una mano</button></a>
            <article id="tus_pedidos">
                <h2>Tus pedidos:</h2>
                <table>
                    <tr>
                        <th>Fecha de solicitud</th>
                        <th>Número de pedido</th>
                        <th>Estado</th>
                    </tr>
                    <tr>
                        <td>10/05/2017</td>
                        <td>125623</td>
                        <td>Pendiente</td>
                    </tr>
                    <tr>
                        <td>05/02/2017</td>
                        <td>125210</td>
                        <td>Entregada</td>
                    </tr>
                </table>
            </article>
        </article>
    </div>
    <script src="../../Scripts/menu.js"></script>
</body>
</html>
