@{
    ViewBag.Title = "Términos y condiciones";
}
@section styles
{
    <style type="text/css">
        .min_full {
            padding: 0 70px;
        }
    </style>
}

<h2>Términos y condiciones</h2>


<h1 align=center style='text-align:center'>
    <span lang=ES-MX>
        Términos y
        Condiciones
    </span>
</h1>

<h1 align=center style='text-align:center'>
    <span lang=ES-MX>
        PROTOTIPOS DE MANOS
        MECÁNICAS IMPRESAS EN 3D
    </span>
</h1>

<h1 align=center style='text-align:center'>
    <a name="_gjdgxs"></a><span lang=ES-MX>Atomic Lab</span>
</h1>

<ol style='margin-top:0in' start=1 type=1>
    <li class=MsoNormalCxSpFirst style='margin-bottom:0in;margin-bottom:.0001pt;
     mso-pagination:
     widow-orphan;mso-list:l0 level1 lfo1'>
        <span lang=ES-MX style='font-size:
     11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
     Arial'>Definición de las partes<o:p></o:p></span>
    </li>
    <ol style='margin-top:0in' start=1 type=a>
        <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
      mso-pagination:
      widow-orphan;mso-list:l0 level2 lfo1'>
            <span lang=ES-MX style='font-size:
      11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
      Arial'>
                Atomic Lab: Es una organización privada social con y sin fines de
                lucro establecida en 2014 por Gino Tubaro en la Ciudad de Buenos Aires
                que trabaja en equipo para crear soluciones que cambien la vida de
                millones de personas en el mundo mediante las últimas tecnologías.<o:p></o:p>
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
      mso-pagination:
      widow-orphan;mso-list:l0 level2 lfo1'>
            <span lang=ES-MX style='font-size:
      11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
      Arial'>
                Usuario: Es una persona física de cualquier país del mundo que
                solicita y recibe una prótesis mecánica impresa en 3D por Atomic Lab, su
                equipo incluyendo alguno de sus Embajadores. Este Usuario, en caso de ser
                menor de edad o menor de 18 años, debe ser representado por su padre,
                madre y/o tutor legal.<o:p></o:p>
            </span>
        </li>
    </ol>
    <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
     mso-pagination:
     widow-orphan;mso-list:l0 level1 lfo1'>
        <span lang=ES-MX style='font-size:
     11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
     Arial'>
            Objetivo: El presente documento tiene por objetivo establecer los
            términos en que se entrega la prótesis mecánica, que el Usuario tome
            conocimiento del uso y recomendaciones de seguridad, limpieza y riesgos del
            producto que se entrega de forma totalmente gratuita y a su propio riesgo
            y/o de su padre, madre y/o tutor legal.<o:p></o:p>
        </span>
    </li>
    <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
     mso-pagination:
     widow-orphan;mso-list:l0 level1 lfo1'>
        <span lang=ES-MX style='font-size:
     11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
     Arial'>Sitios involucrados, dominios y medios de comunicación fehacientes<o:p></o:p></span>
    </li>
    <ol style='margin-top:0in' start=1 type=a>
        <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
      mso-pagination:
      widow-orphan;mso-list:l0 level2 lfo1'>
            <span lang=ES-MX style='font-size:
      11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
      Arial'>
                Únicos sitios web y dominios de email oficiales: atomiclab.org y
                limbs.earth<o:p></o:p>
            </span>
        </li>
        <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
      mso-pagination:
      widow-orphan;mso-list:l0 level2 lfo1'>
            <span lang=ES-MX style='font-size:
      11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
      Arial'>Únicas redes sociales oficiales:<o:p></o:p></span>
        </li>
        <ol style='margin-top:0in' start=1 type=i>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>twitter.com/TheAtomicLab<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/TheAtomicLab<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>instagram.com/TheAtomicLab<o:p></o:p></span>
            </li>
        </ol>
        <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
      mso-pagination:
      widow-orphan;mso-list:l0 level2 lfo1'>
            <span lang=ES-MX style='font-size:
      11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
      Arial'>Únicos grupos de Facebook oficiales:<o:p></o:p></span>
        </li>
        <ol style='margin-top:0in' start=1 type=i>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabAlemania<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabArgentina<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabAustralia/<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabBolivia<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabBrasil<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabChile<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabColombia<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabCostaRica<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabEcuador<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabEspana<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabEstadosUnidos<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabGrecia/<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabGuatemala<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabHonduras<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabJapon<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabMexico<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabNoruega<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabNuevaZelanda/<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabPanama/<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabParaguay<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabPeru<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabPolonia<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabPortugal<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabReinoUnido<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabRepublicaDominicana<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabTurquia/<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabUruguay<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicLabVenezuela<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/ClubDeLosEmbajadoresAtomicos/<o:p></o:p></span>
            </li>
            <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
       mso-pagination:
       widow-orphan;mso-list:l0 level3 lfo1'>
                <span lang=ES-MX style='font-size:
       11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
       Arial'>facebook.com/groups/AtomicsAmbassadorsClub/<o:p></o:p></span>
            </li>
        </ol>
    </ol>
    <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
     mso-pagination:
     widow-orphan;mso-list:l0 level1 lfo1'>
        <span lang=ES-MX style='font-size:
     11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
     Arial'>
            Plazo de la relación y renovación: La duración es de 1 año y se
            renueva automáticamente siempre y cuando mientras el Usuario continúe
            utilizando la prótesis mecánica entregada o haya sido reemplazada parcial o
            totalmente.<o:p></o:p>
        </span>
    </li>
    <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
     mso-pagination:
     widow-orphan;mso-list:l0 level1 lfo1'>
        <span lang=ES-MX style='font-size:
     11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
     Arial'>
            Cancelación o exclusión del programa: Haber realizado mal uso de la
            prótesis mecánica según las recomendaciones en el presente documento.<o:p></o:p>
        </span>
    </li>
    <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
     mso-pagination:
     widow-orphan;mso-list:l0 level1 lfo1'>
        <span lang=ES-MX style='font-size:
     11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
     Arial'>
            Procedimiento de solicitud: Únicamente se toman pedidos por medio
            de la plataforma Limbs en
        </span><span lang=ES-MX>
            <a href="http://www.atomiclab.org">
                <span style='font-size:11.0pt;line-height:
     115%;font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;
     color:#1155CC'>www.atomiclab.org</span>
            </a>
        </span><span lang=ES-MX
                     style='font-size:11.0pt;font-family:"Arial",sans-serif;
     mso-fareast-font-family:Arial'>.<o:p></o:p></span>
    </li>
    <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
     mso-pagination:
     widow-orphan;mso-list:l0 level1 lfo1'>
        <span lang=ES-MX style='font-size:
     11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
     Arial'>
            Normas de Seguridad y Condiciones de Uso:
            Ver Anexo I.<o:p></o:p>
        </span>
    </li>
    <li class=MsoNormalCxSpMiddle style='margin-bottom:0in;margin-bottom:.0001pt;
     mso-pagination:
     widow-orphan;mso-list:l0 level1 lfo1'>
        <span lang=ES-MX style='font-size:
     11.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
     Arial'>
            Ley Aplicable y Jurisdicción: Para todos
            los efectos legales derivados de la ejecución de los presentes términos y
            condiciones, las partes fijan como domicilios especiales: a) Atomic Lab en
            Av Chiclana 3269 Piso 1, Ciudad Autónoma de Buenos Aires y
            legales@atomiclab.org; b) el Embajador según lo declarado en el formulario
            de solicitud de incorporación al programa para su dirección postal y
            electrónica. En dichos lugares tendrán plena validez y eficacia las notificaciones
            judiciales y/o extrajudiciales que pudieran cursarse, mientras no se
            notifique fehacientemente cualquier cambio de los mismos. Para dirimir
            eventuales diferencias y conflictos surgidos de esta relación contractual,
            las partes acuerdan la exclusiva competencia de los Tribunales Ordinarios
            de la Ciudad Autónoma de Buenos Aires, República Argentina, renunciando
            expresamente a todo otro Fuero o jurisdicción.<o:p></o:p>
        </span>
    </li>
</ol>

<h1 align=center style='text-align:center;line-height:normal'>
    <span lang=ES-MX>
        Anexo
        I
    </span>
</h1>

<h1 align=center style='text-align:center;line-height:normal'>
    <a name="_7xky609launt"></a><span lang=ES-MX>
        Normas de Seguridad y Condiciones de
        Uso
    </span>
</h1>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Las manos mecánicas de uso externo denominadas a continuación como
        dispositivos protésicos impresos en 3D se declaran bajo los siguientes
        lineamientos de seguridad:
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Basados en las pruebas preliminares y observaciones sobre la
        funcionalidad y capacidades del dispositivo protésico impreso en 3D se
        considera que en la actualidad no son seguros para la operación de maquinaria
        pesada, manipulación de herramientas, equipo y vehículos debido a un desarrollo
        bajo la fuerza de agarre. Estos dispositivos protésicos han demostrado, sin
        embargo, proporcionar alguna funcionalidad para las actividades de prensión de
        objetos flexibles, pero no es en absoluto un sustituto de una mano en pleno
        funcionamiento. Además, no recomendamos el uso de nuestros prototipos de soluciones
        protésicas experimentales impresas en 3D para niños pequeños, menores de 4 años
        de edad debido a una mayor tasa de caída al suelo y la tendencia a tropezar y
        además la necesidad de información sensorial a través de la estimulación oral.
        Por otra parte, no se sabe si los prototipos de soluciones protésicas
        experimentales impresas en 3D son capaces de soportar la mordedura de un niño
        pequeño sin romperse. Por favor revise y considere las siguientes
        recomendaciones y precauciones con respecto al dispositivo protésico impreso en
        3D.
    </span>
</p>

<h2>
    <span lang=ES-MX>
        Recomendaciones generales para el dispositivo protésico
        impreso en 3D
    </span>
</h2>

<h2><span lang=ES-MX>Seguridad Física</span></h2>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Debe garantizar trabajar con su médico o profesional en
        rehabilitación para el uso apropiado y el horario de uso de su dispositivo
        protésico impreso en 3D y no se podrá entregar ni hacer uso de este tipo de
        solución si esto no está garantizado que sea así, ya bien sea por nosotros como
        Atomic Lab o ustedes como usuarios de este tipo de dispositivos. De ser
        utilizado es bajo responsabilidad del usuario y desliga toda responsabilidad a
        Atomic Lab y su equipo.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Estos dispositivos están hechos con plástico que se funde a baja
        temperatura y no deben ser expuestos a temperaturas superiores a 120 ° grados.
        Un dispositivo protésico impreso en 3D dejado en un coche en un día caluroso
        puede resultar dañado incluso si las temperaturas registradas son menores a los
        65 grados, mantenga siempre el dispositivo oculto del sol y a altas
        temperaturas cuando este no esté en uso.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Como cualquier prototipo de soluciones protésica hay una posibilidad
        de desarrollar úlceras y laceraciones por<span style='mso-spacerun:yes'>
        </span>presión. Si el enrojecimiento se desarrolla después de ser usada el
        prototipo de solución protésica para el caso de un ensayo de entre 15-20 minutos
        por favor póngase en contacto con el proveedor del dispositivo, para reevaluar
        la forma y adaptación del mismo. Si el enrojecimiento persiste por favor
        póngase en contacto con su proveedor de atención médica inmediatamente y deje
        de utilizar el dispositivo.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Controle el dispositivo para revisar los temas como el desgaste de
        las partes y piezas y póngase en contacto con su proveedor para obtener ayuda
        con la sustitución de piezas desgastadas o rotas inmediatamente.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Los usuarios deben asumir que el dispositivo podría romperse en
        cualquier momento, incluso mientras está en uso para las tareas que han
        funcionado normalmente en el pasado, debido a que las piezas son impresas en
        3D. El usuario asume responsabilidad sobre las lesiones ocurridas durante un
        mal uso y/o por el desgaste de la misma.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        No utilice el dispositivo para levantar agua hirviendo de la estufa
        (pasta por ejemplo o cocinar) o para levantar los platos de comida muy caliente
        de un horno de microondas o de un horno caliente o cualquier otra situación en
        la que un fallo del dispositivo experimental podría causar lesiones
        indirectamente si el material caliente se cae o se derrama.
    </span>
</p>

<h2><span lang=ES-MX>Seguridad y Salud </span></h2>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Deje que la mano o el brazo respire en forma que el sudor excesivo y
        otros componentes no puedan causar o dar lugar a problemas de la piel como
        bacterias y hongos, los prototipos de soluciones protésicas cuentan con una
        tapa abatible y removible y un sistema de respiración para evitar que esto
        suceda y así se generen malos olores o complicaciones en la piel.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Se recomienda el uso de un calcetín de prótesis para las personas
        con piel sensible. Asegúrese de que usted no tiene reacciones alérgicas al
        material utilizado ya bien sea el neopreno, la pintura del prototipo o las
        partes impresas del dispositivo protésico impresos en 3D, si nota alguna
        reacción alérgica quítese el prototipo inmediatamente y en caso de ser
        necesario consulte a su médico.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Asegúrese de que el dispositivo protésico impreso en 3D es cómodo
        completamente usándolo por más de 20 minutos la primera vez y siempre y cada
        vez que se lo coloque. Asegúrese de que la prótesis mecánica está funcionando
        correctamente siempre que la use.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Comience a utilizar la prótesis de una manera progresiva. Si los
        músculos de la articulación de la muñeca están cansados, debe tomar un descanso
        y continuar usando la prótesis mecánica al día siguiente.
    </span>
</p>

<h2><span lang=ES-MX>Seguridad para Niños </span></h2>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        <span style='mso-spacerun:yes'></span><span style='mso-tab-count:1'></span>
        El niño tiene que ser supervisado siempre y en todo momento durante el uso de la
        solución por un padre o tutor encargado. Con los niños pequeños menores de 3
        años no se pueden confiar en que se aplique el tener en cuenta los elementos de
        Seguridad y Salud mencionadas en el presente documento.<span style='mso-spacerun:yes'></span>No deben utilizar la solución.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Es responsabilidad del cuidador del niño comprobar si hay algún
        problema con el niño al estar utilizando el dispositivo protésico impreso en
        3D. Deje que el niño use / juegue con el dispositivo en un horario muy
        conservador de manera progresiva entre 5-10 minutos a la vez, o incluso menos.
        Si al niño le gusta el dispositivo y está dispuesto a usarlo, déjelo trabajar
        hasta que lo pueda usar por períodos más largos de tiempo gradualmente.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Hable con un pediatra u otro profesional médico sobre cuánto uso es
        seguro para el niño, y qué otros problemas a tener en cuenta se deben
        considerar. El padre o tutor encargado es responsable de lesiones por un mal
        uso o no seguimiento de las recomendaciones de este texto. Si su hijo siente
        dolor en la articulación de la muñeca o el codo, por favor deje de usar la mano
        mecánica. Esto puede ser un signo de una lesión por sobreuso. Si cualquiera de
        los componentes del dispositivo protésico impresos en 3D se rompe, por favor,
        deje de usarlo y avise inmediatamente a su proveedor.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Asegúrese de que las partes físicas de la solución protésica y otras
        partes móviles no están sueltas, especialmente para los niños pequeños que
        corren el riesgo de ahogarse con objetos extraños. El uso de dispositivos
        protésicos impresos en 3D debe ser coordinado con los proveedores, los maestros
        y los cuidadores de la salud del niño.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        El dispositivo protésico impreso en 3D no está hecho para soportar
        peso o soportar el peso del cuerpo, por lo que al aire libre o ante el juego
        brusco debe ser monitoreado de cerca. Los niños que no caminan o están
        inestables sobre sus pies no pueden ser candidatos para este dispositivo ya que
        una caída con el dispositivo protésico impreso en 3D puede resultar en una
        lesión mayor.
    </span>
</p>

<h2><span lang=ES-MX>Instrucciones de LIMPIEZA</span></h2>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        <span style='mso-spacerun:yes'> </span><span style='mso-tab-count:
1'></span>
        El dispositivo protésico impreso en 3D puede ser LIMPIADO
        con agua tibia y un detergente suave o incluso alcohol. Si se desarrolla olor
        en el dispositivo, la limpieza con crema de afeitar puede ayudar a disipar el
        olor. Si las tiras de velcro se desgastan o son ineficaces, por favor póngase
        en contacto con el proveedor de su prototipo de mano para el reemplazo
        inmediatamente.
    </span>
</p>

<h2>
    <span lang=ES-MX>
        Exención de Responsabilidad y acuerdo eximente del
        proveedor
    </span>
</h2>

<p class=MsoNormal style='text-align:justify;text-indent:0in'>
    <span lang=ES-MX>
        <span style='mso-spacerun:yes'></span><span style='mso-tab-count:1'>             </span>Usted
        reconoce que entiende que Atomic Lab, un proyecto de Gino Tubaro, y su
        plataforma LIMBS son sin fines de lucro para fomentar el desarrollo y la
        difusión de los prototipos de soluciones protésicas para los niños y adultos
        que utilizan la tecnología de impresión 3D.<span style='mso-spacerun:yes'>
        </span>Atomic Lab y la plataforma LIMBS generalmente no crea completamente el
        diseño o planos ni fabrica ni imprime completamente los componentes, conjuntos
        o prototipos de soluciones protésicas definitivas basadas en estos diseños
        compartidos, ni certifica los diseños o componentes que funcionan correctamente
        o satisfacen cualquiera regulación con requisitos de salud y permisos
        sanitarios de cada país.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Este apartado está destinado a reflejar el limitado papel de Atomic
        Lab en el desarrollo del diseño y los componentes desde el mismo concepto de la
        innovación abierta y participativa del desarrollo de los prototipos de
        soluciones protésicas en la plataforma LIMBS.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        La persona que firma a continuación (&quot;Usted&quot;) como el
        destinatario individual del diseño o ya bien sea de los componentes si el
        destinatario individual es mayor de edad según la legislación de la
        jurisdicción relevante del país o el padre o tutor legal del niño si el
        destinatario individual es un niño menor, acepta con este documento los
        términos de exención de responsabilidad por parte de Atomic Lab, Gino Tubaro y
        su equipo hacia usted, usuario o su hijo que han o ha adquirido un prototipo de
        solución impreso en 3D
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Usted acepta que cualquier diseño o componente que se provee por
        Atomic Lab o por cualquier individuo asociado con la Atomic Lab mediante
        entregas personales o durante el evento llamado “Manotón” se proporciona
        &quot;TAL CUAL&quot; y sin representación o garantía de ningún tipo, expresas o
        implícitas, y está destinada a ser un regalo, pero que así mismo éticamente
        Atomic Lab y sus voluntarios se comprometen a mantener los prototipos de
        soluciones protésicas funcionales y con las características que se entregaron
        inicialmente el día de la adaptación y entrega.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Al aceptar cualquier diseño o componente, reconozco además que tal
        diseño o componente, no se ha evaluado ni aprobado por ninguna autoridad
        reguladora. En general, el diseño ha sido desarrollado por una persona o una
        empresa o un conjunto de personas que pueden ser miembros Atomic Lab.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Usted entiende que cualquier diseño o componente que se provee por
        Atomic Lab está destinado a beneficiar a un destinatario individual que tiene
        necesidad de una tecnología de ayuda y no se pretende y no se podrá utilizar para
        uso comercial bajo ningún circunstancia y solo se podrá considerar este
        panorama si y sólo si su desarrollador y grupo de trabajo lo autoriza así.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Si usted es un adulto bajo las leyes de la jurisdicción relevante y
        es el destinatario individual, Usted reconoce que entiende los riesgos
        potenciales del uso del diseño o de componentes en conjunto y expresamente
        asume esos riesgos. Si el destinatario individual es un niño bajo las leyes de
        la jurisdicción pertinente, Usted declara que es el padre o tutor legal del
        niño y que usted entiende los riesgos potenciales del uso del diseño o de
        componentes y expresamente asume esos riesgos en nombre del destinatario
        individual.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Además, usted (ya sea para usted o su hijo) libera y descarga de
        responsabilidad para siempre a Atomic Lab y sus funcionarios, empleados,
        contratistas, subcontratistas, voluntarios y agentes
        (&quot;Exonerándolos&quot;) de cualquier y toda responsabilidad, culpa por los
        actos u omisión- incluidos los actos u omisiones negligentes que puedan causar
        daños, pérdidas, lesiones o la muerte del individuo receptor de la utilización
        del diseño o el componente impreso en 3D.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Usted acepta librar de cualquier y toda responsabilidad o
        deficiencia incluida por negligencia a evento que surja en relación con o como
        resultado del uso individual o mal uso de un diseño o componente del
        dispositivo protésico impresos en 3D.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Usted entiende y acepta que Atomic Lab y cualquier persona asociada
        con la Atomic Lab no serán responsables por cualquier lesión o daños,
        incluyendo los daños indirectos, incidentales, indirectos, punitivos o
        especiales, resultantes de o que surjan de la utilización del diseño o
        Componente de Atomic Lab o cualquier persona vinculada a la Atomic Lab.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Cualquier información proporcionada por Atomic Lab y cualquier
        persona asociada con Atomic Lab no está destinada a ser utilizado como prueba o
        ser confiable para diagnosticar o tratar un problema de salud o enfermedad y
        Atomic Lab no hace ninguna afirmación en cuanto al diseño o los componentes,
        que pueda ser utilizado en la corte de justicia en caso de suceda un hecho
        grave con el uso del dispositivo impreso en 3D.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Usted debe obligatoriamente consultar con un profesional de la salud
        competente antes de colocarse o adaptarse un prototipo de solución protésica
        impresa en 3D o alguno de sus componentes. Lea cuidadosamente todas las
        etiquetas y preste atención a todas las instrucciones y precauciones que
        acompañan a los componentes. Todas las declaraciones realizadas por Atomic Lab
        son sólo para fines informativos y no pretenden sustituir los servicios o
        recomendaciones de un médico u otro profesional de la salud calificado.
    </span>
</p>

<p class=MsoNormal style='text-align:justify;text-indent:.5in'>
    <span lang=ES-MX>
        Usted reconoce que está de acuerdo con todo lo contemplado en este
        documento y se rige por las leyes del Estado Argentino (sin referencia a su
        conflicto de disposiciones legales) y las partes tienen la intención de que
        este Acuerdo sea tan amplio e inclusivo como lo permita la ley. Si alguna parte
        de este Acuerdo es considerada inválida por cualquier razón, el resto del
        Acuerdo continuará permaneciendo en pleno vigor y efecto y seguirán siendo
        vinculantes los parágrafos y letras del mismo.<span style='mso-spacerun:yes'>
        </span>
    </span>
</p>

<h2 style='text-align:justify;text-indent:2.75pt'>
    <a style='mso-comment-reference:
_1;mso-comment-date:20171005T2239'>
        <span lang=ES-MX>
            Autorización de<span style='mso-spacerun:yes'></span> Uso de Imagen
        </span>
    </a>
</h2>

<p class=MsoNormal style='text-indent:.5in'>
    <span style='mso-comment-continuation: 1'>
        <span lang=ES-MX>
            <span style='mso-spacerun:yes'> </span><span @*style='background:white;mso-highlight:white'*@>
                El beneficiario y su representante
                legal mayor de edad y en uso de sus facultades autoriza expresamente a Atomic
                Lab y todas las organizaciones que apoyan el evento con carácter de
                exclusividad, en forma irrevocable y a perpetuidad, a hacer uso de la imagen de
                mi persona (y del menor), para su emisión a través de la señal de cable, redes
                sociales, medios periodísticos y todas las vías publicitarias que tomen el
                contenido de Atomic Lab. Declaro bajo juramento que mi (y la del menor)
                actividad no es la de actor/actriz y/o extra y/o músico y que no me encuentro
                afiliado/a a la Asociación Argentina de Actores (A.A.A.), al Sindicato Único de
                Trabajadores de Espectáculos Públicos (S.U.T.E.P.), ni a la Sociedad Argentina
                de Músicos ( Sa. De M.) dejando asimismo estipulado que la presente
                autorización se realiza en forma totalmente gratuita, deslindando expresamente
                a Atomic Lab de abonarme suma alguna en concepto de contraprestación, no
                teniendo, en el presente ni para el futuro, nada que reclamar por ningún
                concepto.
            </span>
        </span>
    </span>
</p>
